field .baseline {
border-bottom-width: 1pt;
}

field:droptarget .inner_border {
 box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0) inset;
}

layout_background .self {
background-color: rgba(255, 255, 255, 1.0);
}


title_header text_box .self {
font-size: 10pt;
}


leading_grand_summary text_box .self {
font-weight: bold;
}


leading_sub_summary_1 text_box .self {
font-weight: bold;
}


leading_sub_summary_2 text_box .self {
font-weight: bold;
}


leading_sub_summary text_box .self {
font-weight: bold;
}


body .self {
background-color: rgba(255, 255, 255, 1.0);
background-image: none;

border-image-source: none;
-fm-use-body-current-row-style: true;
box-sizing: border-box;
}


body:checked .self {
background-color: rgba(197, 217, 236, 1.0);
background-image: none;

border-image-source: none;
}


body_alt .self {
background-color: rgba(242, 242, 242, 1.0);
background-image: none;

border-image-source: none;
box-sizing: border-box;
}


footer text_box .self {
font-size: 10pt;
}


title_footer text_box .self {
font-size: 10pt;
}


text_box .self {
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;

}


text_box .text {
box-sizing: border-box;
height: 100%;
}

line .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);

}


rectangle .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);

}


rounded .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);
border-radius: 5pt;

}

rounded .inner_border {

border-radius: 4pt;
}

oval .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);

}


edit_box:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 0.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;
}

edit_box:normal .inner_border {

border-radius: 2pt;
}

edit_box:normal .text {
box-sizing: border-box;
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;

}

text_area:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 0.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
text_area:normal .inner_border {

border-radius: 2pt;
}
text_area:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;
}
text_area:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

edit_box:focus .self {
background-color: rgba(255, 255, 255, 1.0);
background-image: none;

border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
border-image-source: none;

}


text_area:focus .self {
background-color: rgba(255, 255, 255, 1.0);
background-image: none;

border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
border-image-source: none;

}

drop_down:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 0.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
drop_down:normal .inner_border {

border-radius: 2pt;
}
drop_down:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;
}
drop_down:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
border-top-right-radius: 2pt;
border-bottom-right-radius: 2pt;
border-left-width: 1pt;
border-left-color: rgba(222, 222, 222, 0.0);
border-left-style: solid;
}

drop_down:focus .self {
background-color: rgba(255, 255, 255, 1.0);
background-image: none;

border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
border-image-source: none;

}
drop_down:focus .icon {
-fm-icon: down-arrow;
-fm-icon-color: rgba(0, 0, 0, 1.0);
border-left-color: rgba(51, 51, 51, 1.0);
}

pop_up:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 0.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
pop_up:normal .inner_border {

border-radius: 2pt;
}
pop_up:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;
}
pop_up:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
border-top-right-radius: 2pt;
border-bottom-right-radius: 2pt;
}

pop_up:focus .self {
background-color: rgba(255, 255, 255, 1.0);
background-image: none;

border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
border-image-source: none;

}
pop_up:focus .icon {
-fm-icon: down-arrow;
-fm-icon-color: rgba(0, 0, 0, 1.0);
}

calendar:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 0.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
calendar:normal .inner_border {

border-radius: 2pt;
}
calendar:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;
}
calendar:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
border-top-right-radius: 2pt;
border-bottom-right-radius: 2pt;
border-left-width: 1pt;
border-left-color: rgba(222, 222, 222, 0.0);
border-left-style: solid;
}

calendar:focus .self {
background-color: rgba(255, 255, 255, 1.0);
background-image: none;

border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
border-image-source: none;

}
calendar:focus .icon {
-fm-icon: calendar;
-fm-icon-color: rgba(0, 0, 0, 1.0);
border-left-color: rgba(51, 51, 51, 1.0);
}

checkbox_set:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1.2line;
text-align: left;
}
checkbox_set:normal .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);
padding-left: 0.08em;
padding-right: 0.08em;
padding-top: 0.08em;
padding-bottom: 0.08em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
}
checkbox_set:checked .icon {
-fm-icon: modern-check;
-fm-icon-color: #000000;
}
checkbox_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.33em;
}

checkbox_set:focus .icon {
background-color: rgba(255, 255, 255, 1.0);
border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
}

radio_set:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1.2line;
text-align: left;
}
radio_set:normal .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);
padding-left: 0.17em;
padding-right: 0.17em;
padding-top: 0.17em;
padding-bottom: 0.17em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
border-radius: 50%;
}
radio_set:checked .icon {
-fm-icon: radio;
-fm-icon-color: #000000;
}
radio_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.33em;
}

radio_set:focus .icon {
background-color: rgba(255, 255, 255, 1.0);
border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
}

container:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 0.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
container:normal .inner_border {

border-radius: 2pt;
padding-left: 0em;
padding-right: 0em;
padding-top: 0em;
padding-bottom: 0em;

}

container:focus .self {
background-color: rgba(255, 255, 255, 1.0);
border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
}

button:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(243, 243, 243, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button:normal .inner_border {

border-radius: 2pt;
padding-left: 0.5em;
padding-right: 0.5em;
padding-top: 0.25em;
padding-bottom: 0.25em;
}
button:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(0, 0, 0, 1.0);
}

button:focus .self {
border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
}


tab_panel:active .self {
background-color: rgba(255, 255, 255, 1.0);
background-image: none;

border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);

}
tab_panel:active .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:active .tab {
background-image: none;
}

tab_panel:activefocus .self {
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
}
tab_panel:activefocus .text {
box-sizing: border-box;
height: 100%;
}

portal:normal .row {
background-color: rgba(255, 255, 255, 1.0);
}

portal:normal .row_alt {
background-color: rgba(247, 247, 247, 1.0);
}


portal:normal .row_active {
background-color: rgba(230, 239, 249, 1.0);
}


chart:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 0.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
chart:normal .inner_border {

border-radius: 2pt;
padding-left: 0em;
padding-right: 0em;
padding-top: 0em;
padding-bottom: 0em;

}

chart:focus .self {
border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
}

web_viewer:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 0.0);
border-radius: 3pt;
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
web_viewer:normal .inner_border {

border-radius: 2pt;
padding-left: 0em;
padding-right: 0em;
padding-top: 0em;
padding-bottom: 0em;

}

web_viewer:focus .self {
border-color: rgba(51, 51, 51, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
}

header text_box .self {
font-weight: bold;
font-size: 14pt;
}


portal:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);
border-radius: 3pt;
-fm-use-portal-current-row-style: true;
}

portal:normal .inner_border {

border-radius: 2pt;
}
portal:normal .contents {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
}
portal:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

tab_control:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 1line;
text-align: left;

-fm-tab-spacing: 0;

}
tab_panel:normal .self {
background-color: rgba(243, 243, 243, 1.0);

border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);
border-radius: 3pt;
-fm-tab-top-left-radius: 3pt;
-fm-tab-top-right-radius: 3pt;

}
tab_panel:normal .inner_border {

border-radius: 2pt;
}
tab_panel:normal .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:normal .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(243, 243, 243, 1.0)));
border-top-left-radius: 2pt;
border-top-right-radius: 2pt;
}
tab_panel:normal .tab_inner_border {
padding-left: 0.67em;
padding-right: 0.67em;
padding-top: 0.17em;
padding-bottom: 0.17em;
}

tab_panel:hover .text {
box-sizing: border-box;
height: 100%;
}

tab_panel:focus .self {
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0);
}
tab_panel:focus .text {
box-sizing: border-box;
height: 100%;
}

scrollbar:normal .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #dedede;
border-top-right-radius: 3pt;
border-bottom-right-radius: 3pt;
background-color: rgba(247, 247, 247, 1.0);
width: 17pt;
}

scrollbar:disabled .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #dedede;
border-top-right-radius: 3pt;
border-bottom-right-radius: 3pt;
background-color: rgba(247, 247, 247, 1.0);
}

scrollbar:normal .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #dedede;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #dedede;
border-bottom-style: solid;
border-top-right-radius: 3pt;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #000000;
}

scrollbar:hover .scrollbar_top_button {
border-top-right-radius: 3pt;

width: 100%;
height: 17pt;
}

scrollbar:pressed .scrollbar_top_button {
border-top-right-radius: 3pt;

width: 100%;
height: 17pt;
}

scrollbar:normal .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #dedede;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #dedede;
border-top-style: solid;
border-bottom-right-radius: 3pt;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #000000;
}

scrollbar:hover .scrollbar_bottom_button {
border-bottom-right-radius: 3pt;

width: 100%;
height: 17pt;
}

scrollbar:pressed .scrollbar_bottom_button {
border-bottom-right-radius: 3pt;

width: 100%;
height: 17pt;
}

scrollbar:normal .scrollbar_thumb {
border-left-width: 1pt;
border-left-color: #dedede;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #dedede;
border-top-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #dedede;
border-bottom-style: solid;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
}

popover:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(243, 243, 243, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(222, 222, 222, 1.0);
border-radius: 3pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.20);
font-family: arial, sans-serif;
font-style: normal;
color: #000000;
font-size: 12pt;
line-height: 2line;
text-align: center;
}

popover:normal .inner_border {

border-radius: 2pt;
}

popover:normal .text {
box-sizing: border-box;
position: absolute;
top: 0.42em;
height: 1.42em;
left: 8pt;
right: 8pt;
}

popover:normal .contents {
border-radius: 3pt;
box-sizing: border-box;
position: absolute;
top: 1.84em;
bottom: 6pt;
left: 6pt;
right: 6pt;
}


dot_control:normal .self {
border-radius: 3pt;
}

dot_control:normal .inner_border {

border-radius: 3pt;
}

dot_control:normal .dot_container {
box-sizing: border-box;
position: absolute;
height: 15pt;
bottom: 0.25em;
left: 0pt;
right: 0pt;
}

dot_control:normal .contents {
box-sizing: border-box;
position: absolute;
top: 0pt;
bottom: 21pt;
left: 0pt;
right: 0pt;
border-top-left-radius: 3pt;
border-top-right-radius: 3pt;
}

dot_control:normal .dot {
background-color: rgba(202, 206, 209, 1.0);
border-radius: 50%;
width: 9pt;
height: 9pt;
margin-left: 0.33em;
}


dot_control:active .dot {
background-color: rgba(0, 0, 0, 1.0);
}


text_box.title_header_text .self {
font-size: 10pt;

}


text_box.leading_grand_summary_text .self {
font-weight: bold;

}


text_box.leading_sub_summary_1_text .self {
font-weight: bold;

}


text_box.leading_sub_summary_2_text .self {
font-weight: bold;

}


text_box.leading_sub_summary_additional_text .self {
font-weight: bold;

}


text_box.footer_text .self {
font-size: 10pt;

}


text_box.title_footer_text .self {
font-size: 10pt;

}


text_box.header_text .self {
font-weight: bold;
font-size: 14pt;

}


text_box.navigation_part_text .self {
color: #c1c1c1;

}


button_bar:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(60, 60, 60, 1.0);
}

button_bar:normal .button_bar_divider {
border-width: 1pt;
border-style: solid;
border-color: rgba(60, 60, 60, 1.0);
}


button_bar_segment:normal .self {
background-color: rgba(0, 0, 0, 1.0);
color: #888888;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button_bar_segment:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button_bar_segment:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(136, 136, 136, 1.0);
}

button_bar_segment:hover .self {
background-color: rgba(0, 0, 0, 1.0);
color: #ffffff;
}

button_bar_segment:hover .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button_bar_segment:pressed .self {
background-color: rgba(0, 0, 0, 1.0);
color: #ffffff;
}

button_bar_segment:pressed .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button_bar_segment:active .self {
background-color: rgba(0, 0, 0, 1.0);
color: #ffffff;
}

button_bar_segment:active .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button_bar_segment:focus .inner_border {
box-shadow: 0pt 0pt 2pt 1pt rgba(0, 112, 207, 1.0) inset;
}

container:placeholder .self {
color: #a3a3a3;
}

calendar:placeholder .self {
color: #a3a3a3;
}

drop_down:placeholder .self {
color: #a3a3a3;
}

pop_up:placeholder .self {
color: #a3a3a3;
}

edit_box:placeholder .self {
color: #a3a3a3;
}


text_area:placeholder .self {
color: #a3a3a3;
}

bottom_nav_part .self {
background-color: rgba(0, 0, 0, 1.0);
box-sizing: border-box;
}


top_nav_part .self {
background-color: rgba(0, 0, 0, 1.0);
box-sizing: border-box;
}


text_box.trailing_sub_summary_additional_text .self {
color: #000000;

}


text_box.trailing_grand_summary_text .self {
color: #000000;

}


text_box.trailing_sub_summary_1_text .self {
color: #000000;

}


text_box.trailing_sub_summary_2_text .self {
color: #000000;

}

