field .baseline {
border-bottom-width: 1pt;
}

field:droptarget .inner_border {
 box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0) inset;
}

title_header .self {
background-color: rgba(242, 242, 242, 1.0);
box-sizing: border-box;
}

title_header text_box .self {
color: #505050;
}


header .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(121, 121, 121, 1.0)), to(rgba(109, 109, 109, 1.0)));
border-top-width: 1pt;
border-bottom-width: 1pt;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(93, 92, 92, 1.0);
border-bottom-color: rgba(103, 103, 103, 1.0);

box-sizing: border-box;
}

header .inner_border {
border-top-width: 1pt;
border-top-style: solid;
border-top-color: #b0b0b0;
border-bottom-width: 1pt;
border-bottom-style: solid;
border-bottom-color: #a9a9a9;
}
header text_box .self {
color: #f2f2f2;
}


leading_grand_summary .self {
background-color: rgba(51, 51, 51, 1.0);
box-sizing: border-box;
}

leading_grand_summary text_box .self {
color: #f2f2f2;
}


leading_sub_summary_1 .self {
background-color: rgba(102, 102, 102, 1.0);
box-sizing: border-box;
}

leading_sub_summary_1 text_box .self {
color: #f2f2f2;
}


leading_sub_summary_2 .self {
background-color: rgba(153, 153, 153, 1.0);
box-sizing: border-box;
}

leading_sub_summary_2 text_box .self {
color: #f2f2f2;
}


leading_sub_summary .self {
background-color: rgba(204, 204, 204, 1.0);
box-sizing: border-box;
}

leading_sub_summary text_box .self {
color: #505050;
}


body .self {
background-color: rgba(242, 242, 242, 1.0);
-fm-use-body-current-row-style: true;
box-sizing: border-box;
}


body_alt .self {
background-color: rgba(250, 250, 250, 1.0);
background-image: none;

border-image-source: none;
box-sizing: border-box;
}


trailing_sub_summary .self {
background-color: rgba(242, 242, 242, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(204, 204, 204, 1.0);

box-sizing: border-box;
}

trailing_sub_summary text_box .self {
color: #505050;
}


trailing_sub_summary_2 .self {
background-color: rgba(242, 242, 242, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(153, 153, 153, 1.0);

box-sizing: border-box;
}

trailing_sub_summary_2 text_box .self {
color: #505050;
}


trailing_sub_summary_1 .self {
background-color: rgba(242, 242, 242, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(102, 102, 102, 1.0);

box-sizing: border-box;
}

trailing_sub_summary_1 text_box .self {
color: #505050;
}


trailing_grand_summary .self {
background-color: rgba(51, 51, 51, 1.0);
box-sizing: border-box;
}

trailing_grand_summary text_box .self {
color: #f2f2f2;
}


footer .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(121, 121, 121, 1.0)), to(rgba(111, 111, 111, 1.0)));
border-top-width: 1pt;
border-bottom-width: 1pt;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(97, 97, 97, 1.0);
border-bottom-color: rgba(86, 86, 86, 1.0);

box-sizing: border-box;
}

footer .inner_border {
border-top-width: 1pt;
border-top-style: solid;
border-top-color: #b0b0b0;
border-bottom-width: 1pt;
border-bottom-style: solid;
border-bottom-color: #a9a9a9;
}
footer text_box .self {
color: #f2f2f2;
}


title_footer .self {
background-color: rgba(242, 242, 242, 1.0);
box-sizing: border-box;
}

title_footer text_box .self {
color: #505050;
font-size: 15pt;
}


text_box .self {
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #666666;
font-size: 18pt;
line-height: 1line;
text-align: left;

}


text_box .text {
box-sizing: border-box;
height: 100%;
}

line .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(80, 80, 80, 1.0);

}


rectangle .self {
background-color: rgba(250, 250, 250, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);

}


rounded .self {
background-color: rgba(250, 250, 250, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;

}

rounded .inner_border {

border-radius: 4pt;
}

oval .self {
background-color: rgba(250, 250, 250, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);

}


edit_box:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: left;
}

edit_box:normal .inner_border {

border-radius: 4pt;
}

edit_box:normal .text {
box-sizing: border-box;
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.42em;
margin-right: 0.42em;
margin-top: 0.33em;
margin-bottom: 0.17em;

}

text_area:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: left;
}
text_area:normal .inner_border {

border-radius: 4pt;
}
text_area:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.42em;
margin-right: 0.42em;
margin-top: 0.33em;
margin-bottom: 0.17em;
}
text_area:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

edit_box:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}


text_area:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}

drop_down:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: left;
}
drop_down:normal .inner_border {

border-radius: 4pt;
}
drop_down:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.42em;
margin-right: 0.42em;
margin-top: 0.33em;
margin-bottom: 0.17em;
}
drop_down:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-color: rgba(255, 255, 255, 1.0);
-fm-icon: down-arrow;
-fm-icon-color: rgba(79, 79, 79, 1.0);
border-top-right-radius: 4pt;
border-bottom-right-radius: 4pt;
border-left-width: 1pt;
border-left-color: rgba(204, 204, 204, 1.0);
border-left-style: solid;
}

drop_down:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}
drop_down:focus .icon {
-fm-icon-color: rgba(79, 79, 79, 1.0);
border-left-width: 1pt;
border-left-color: rgba(0, 0, 0, 1.0);
border-left-style: solid;
}

drop_down:hover .icon {
background-color: rgba(230, 230, 230, 1.0);
-fm-icon-color: rgba(79, 79, 79, 1.0);
}

drop_down:pressed .self {
border-color: rgba(153, 153, 153, 1.0);
}
drop_down:pressed .icon {
background-color: rgba(204, 204, 204, 1.0);
-fm-icon-color: rgba(79, 79, 79, 1.0);
border-left-color: rgba(153, 153, 153, 1.0);
}

pop_up:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: left;
}
pop_up:normal .inner_border {

border-radius: 4pt;
}
pop_up:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.42em;
margin-right: 0.42em;
margin-top: 0.33em;
margin-bottom: 0.17em;
}
pop_up:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
-fm-icon: down-arrow;
-fm-icon-color: rgba(79, 79, 79, 1.0);
border-top-right-radius: 4pt;
border-bottom-right-radius: 4pt;
}

pop_up:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}
pop_up:focus .icon {
-fm-icon-color: rgba(79, 79, 79, 1.0);
}

pop_up:hover .self {
background-color: rgba(230, 230, 230, 1.0);
background-image: none;

}
pop_up:hover .icon {
-fm-icon-color: rgba(79, 79, 79, 1.0);
}

pop_up:pressed .self {
background-color: rgba(204, 204, 204, 1.0);
background-image: none;

border-color: rgba(153, 153, 153, 1.0);
}
pop_up:pressed .icon {
-fm-icon-color: rgba(79, 79, 79, 1.0);
}

button:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(239, 239, 239, 1.0)), to(rgba(220, 220, 220, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(188, 188, 188, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button:normal .inner_border {

border-radius: 4pt;
padding-left: 0.42em;
padding-right: 0.42em;
padding-top: 0.33em;
padding-bottom: 0.17em;
}
button:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(80, 80, 80, 1.0);
}

button:focus .self {
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}


button:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(220, 220, 220, 1.0)), to(rgba(186, 186, 186, 1.0)));
border-color: rgba(153, 153, 153, 1.0);
}


button:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(186, 186, 186, 1.0)), to(rgba(124, 124, 124, 1.0)));
border-color: rgba(102, 102, 102, 1.0);
}


calendar:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: left;
}
calendar:normal .inner_border {

border-radius: 4pt;
}
calendar:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.42em;
margin-right: 0.42em;
margin-top: 0.33em;
margin-bottom: 0.17em;
}
calendar:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-color: rgba(255, 255, 255, 1.0);
-fm-icon: calendar;
-fm-icon-color: rgba(79, 79, 79, 1.0);
border-top-right-radius: 4pt;
border-bottom-right-radius: 4pt;
border-left-width: 1pt;
border-left-color: rgba(204, 204, 204, 1.0);
border-left-style: solid;
}

calendar:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}
calendar:focus .icon {
-fm-icon-color: rgba(79, 79, 79, 1.0);
border-left-width: 1pt;
border-left-color: rgba(0, 0, 0, 1.0);
border-left-style: solid;
}

calendar:hover .icon {
background-color: rgba(230, 230, 230, 1.0);
-fm-icon-color: rgba(79, 79, 79, 1.0);
}

calendar:pressed .self {
border-color: rgba(153, 153, 153, 1.0);
}
calendar:pressed .icon {
background-color: rgba(204, 204, 204, 1.0);
-fm-icon-color: rgba(79, 79, 79, 1.0);
border-left-color: rgba(153, 153, 153, 1.0);
}

checkbox_set:normal .self {
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1.2line;
text-align: left;
}
checkbox_set:normal .icon {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
padding-left: 0.08em;
padding-right: 0.08em;
padding-top: 0.08em;
padding-bottom: 0.08em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
}
checkbox_set:checked .icon {
-fm-icon: modern-check;
-fm-icon-color: #484846;
}
checkbox_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.33em;
}

checkbox_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}

radio_set:normal .self {
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1.2line;
text-align: left;
}
radio_set:normal .icon {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
padding-left: 0.17em;
padding-right: 0.17em;
padding-top: 0.17em;
padding-bottom: 0.17em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
border-radius: 50%;
}
radio_set:checked .icon {
-fm-icon: radio;
-fm-icon-color: #4f4f4f;
}
radio_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.33em;
}

radio_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}

tab_control:active .self {
font-weight: bold;
color: #666666;


}
tab_panel:active .self {
background-color: rgba(250, 250, 250, 1.0);
background-image: none;

box-shadow: 0pt 1pt 4pt 1pt rgba(0, 0, 0, 0.10);
}
tab_panel:active .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:active .tab {
background-image: none;
}

tab_panel:activefocus .self {
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}
tab_panel:activefocus .text {
box-sizing: border-box;
height: 100%;
}

tab_control:normal .self {
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: left;

-fm-tab-spacing: -1;

}
tab_panel:normal .self {
background-color: rgba(220, 220, 220, 1.0);

border-width: 1pt;
border-style: solid;
border-color: rgba(188, 188, 188, 1.0);
border-radius: 5pt;
-fm-tab-top-left-radius: 5pt;
-fm-tab-top-right-radius: 5pt;

}
tab_panel:normal .inner_border {

border-radius: 4pt;
}
tab_panel:normal .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:normal .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(239, 239, 239, 1.0)), to(rgba(220, 220, 220, 1.0)));
border-top-left-radius: 4pt;
border-top-right-radius: 4pt;
}
tab_panel:normal .tab_inner_border {
padding-left: 0.42em;
padding-right: 0.42em;
padding-top: 0.33em;
padding-bottom: 0em;
}

tab_panel:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(220, 220, 220, 1.0)), to(rgba(186, 186, 186, 1.0)));

}
tab_panel:hover .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:hover .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(220, 220, 220, 1.0)), to(rgba(186, 186, 186, 1.0)));
}

tab_panel:focus .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(239, 239, 239, 1.0)), to(rgba(220, 220, 220, 1.0)));
border-width: 1pt;
border-style: solid;
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}
tab_panel:focus .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:focus .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(239, 239, 239, 1.0)), to(rgba(220, 220, 220, 1.0)));
}

portal:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
-fm-use-portal-current-row-style: true;
}

portal:normal .inner_border {

border-radius: 4pt;
}
portal:normal .contents {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
}
portal:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

portal:normal .row {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(204, 204, 204, 1.0);
}

portal:normal .row_alt {
background-color: rgba(230, 230, 230, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(204, 204, 204, 1.0);
}


portal:normal .row_active {
background-color: rgba(210, 225, 245, 1.0);
border-top-width: 1pt;
border-bottom-width: 1pt;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(176, 176, 176, 1.0);
border-bottom-color: rgba(176, 176, 176, 1.0);
}


chart:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: left;
}
chart:normal .inner_border {

border-radius: 4pt;
padding-left: 0.42em;
padding-right: 0.42em;
padding-top: 0.42em;
padding-bottom: 0.42em;

}

chart:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}

web_viewer:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #666666;
font-size: 18pt;
line-height: 1line;
text-align: left;
}
web_viewer:normal .inner_border {

border-radius: 4pt;
padding-left: 0.42em;
padding-right: 0.42em;
padding-top: 0.42em;
padding-bottom: 0.42em;

}

web_viewer:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}

container:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #505050;
font-size: 18pt;
line-height: 1line;
text-align: left;
}
container:normal .inner_border {

border-radius: 4pt;
padding-left: 0.42em;
padding-right: 0.42em;
padding-top: 0.42em;
padding-bottom: 0.42em;

}

container:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0);
}

scrollbar:normal .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #cccccc;
border-top-right-radius: 5pt;
border-bottom-right-radius: 5pt;
background-color: rgba(230, 230, 230, 1.0);
width: 17pt;
}

scrollbar:disabled .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #cccccc;
border-top-right-radius: 5pt;
border-bottom-right-radius: 5pt;
background-color: rgba(255, 255, 255, 1.0);
}

scrollbar:normal .scrollbar_thumb {
border-left-width: 1pt;
border-left-color: #cccccc;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #cccccc;
border-top-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #cccccc;
border-bottom-style: solid;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
}

scrollbar:normal .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #cccccc;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #cccccc;
border-bottom-style: solid;
border-top-right-radius: 5pt;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #4f4f4f;
}

scrollbar:hover .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #cccccc;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #cccccc;
border-bottom-style: solid;
border-top-right-radius: 5pt;

background-color: rgba(230, 230, 230, 1.0);
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #4f4f4f;
}

scrollbar:pressed .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #999999;
border-bottom-style: solid;
border-top-right-radius: 5pt;

background-color: rgba(204, 204, 204, 1.0);
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #4f4f4f;
}

scrollbar:normal .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #cccccc;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #cccccc;
border-top-style: solid;
border-bottom-right-radius: 5pt;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #4f4f4f;
}

scrollbar:hover .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #cccccc;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #cccccc;
border-top-style: solid;
border-bottom-right-radius: 5pt;

background-color: rgba(230, 230, 230, 1.0);
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #4f4f4f;
}

scrollbar:pressed .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #999999;
border-top-style: solid;
border-bottom-right-radius: 5pt;

background-color: rgba(204, 204, 204, 1.0);
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #4f4f4f;
}

calendar.minimal_drop-down_calendar:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}
calendar.minimal_drop-down_calendar:normal .icon {
background-color: rgba(255, 255, 255, 0.0);
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(204, 204, 204, 0.0);
}

calendar.minimal_drop-down_calendar:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}
calendar.minimal_drop-down_calendar:hover .icon {
border-left-color: rgba(204, 204, 204, 1.0);
}

calendar.minimal_drop-down_calendar:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

drop_down.minimal_drop-down_list:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}
drop_down.minimal_drop-down_list:normal .icon {
background-color: rgba(255, 255, 255, 0.0);
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(204, 204, 204, 0.0);
}

drop_down.minimal_drop-down_list:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}
drop_down.minimal_drop-down_list:hover .icon {
border-left-color: rgba(204, 204, 204, 1.0);
}

drop_down.minimal_drop-down_list:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

edit_box.minimal_edit_box:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}



edit_box.minimal_edit_box:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}



edit_box.minimal_edit_box:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}



pop_up.minimal_pop-up_menu:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}
pop_up.minimal_pop-up_menu:normal .icon {
background-color: rgba(255, 255, 255, 0.0);
-fm-icon-color: rgba(255, 255, 255, 0.0);
}

pop_up.minimal_pop-up_menu:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}

pop_up.minimal_pop-up_menu:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

popover.simple_popover:normal .self {
background-color: rgba(242, 242, 242, 1.0);
background-image: none;

border-color: rgba(204, 204, 204, 1.0);
border-image-source: none;

color: #666666;
}


popover.simple_popover:normal .contents {
background-color: transparent;

background-image: none;

border-color: rgba(204, 204, 204, 1.0);
border-image-source: none;

}


dot_control.dots_outside:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-style: none;
border-image-source: none;

}


dot_control.dots_outside:normal .contents {
background-color: rgba(230, 230, 230, 1.0);
background-image: none;

border-width: 1pt;
border-style: solid;
border-color: rgba(188, 188, 188, 1.0);
border-radius: 5pt;
border-image-source: none;

}

button.header_button:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(120, 120, 120, 1.0)), to(rgba(94, 94, 94, 1.0)));
border-color: rgba(78, 78, 78, 1.0);
border-image-source: none;

color: #ffffff;
}

button.header_button:normal .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button.header_button:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(139, 139, 139, 1.0)), to(rgba(94, 94, 94, 1.0)));
border-color: rgba(78, 78, 78, 1.0);
}


button.header_button:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(83, 83, 83, 1.0)), to(rgba(98, 98, 98, 1.0)));
border-color: rgba(78, 78, 78, 1.0);
}


edit_box.header_edit_box:normal .self {
background-color: rgba(92, 92, 92, 1.0);
background-image: none;

border-color: rgba(78, 78, 78, 1.0);
border-image-source: none;

color: #ffffff;
}



drop_down.header_drop-down_list:normal .self {
background-color: rgba(92, 92, 92, 1.0);
background-image: none;

border-color: rgba(78, 78, 78, 1.0);
border-image-source: none;

color: #ffffff;
}
drop_down.header_drop-down_list:normal .icon {
background-color: rgba(92, 92, 92, 1.0);
-fm-icon-color: rgba(255, 255, 255, 1.0);
border-left-color: rgba(78, 78, 78, 1.0);
}

drop_down.header_drop-down_list:hover .icon {
background-color: rgba(114, 114, 114, 1.0);
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

drop_down.header_drop-down_list:pressed .icon {
background-color: rgba(81, 81, 81, 1.0);
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

pop_up.header_pop-up_menu:normal .self {
background-color: rgba(92, 92, 92, 1.0);
background-image: none;

border-color: rgba(78, 78, 78, 1.0);
border-image-source: none;

color: #ffffff;
}
pop_up.header_pop-up_menu:normal .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

pop_up.header_pop-up_menu:hover .self {
background-color: rgba(114, 114, 114, 1.0);
}
pop_up.header_pop-up_menu:hover .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

pop_up.header_pop-up_menu:pressed .self {
background-color: rgba(81, 81, 81, 1.0);
}
pop_up.header_pop-up_menu:pressed .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

calendar.header_drop-down_calendar:normal .self {
background-color: rgba(92, 92, 92, 1.0);
background-image: none;

border-color: rgba(78, 78, 78, 1.0);
border-image-source: none;

color: #ffffff;
}
calendar.header_drop-down_calendar:normal .icon {
background-color: rgba(92, 92, 92, 1.0);
-fm-icon-color: rgba(255, 255, 255, 1.0);
border-left-color: rgba(78, 78, 78, 1.0);
}

calendar.header_drop-down_calendar:hover .icon {
background-color: rgba(114, 114, 114, 1.0);
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

calendar.header_drop-down_calendar:pressed .icon {
background-color: rgba(81, 81, 81, 1.0);
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

checkbox_set.header_checkbox_set:normal .self {
color: #ffffff;
border-image-source: none;
background-image: none;
background-color: transparent;
}
checkbox_set.header_checkbox_set:normal .icon {
background-color: rgba(92, 92, 92, 1.0);
background-image: none;

border-color: rgba(78, 78, 78, 1.0);
}
checkbox_set.header_checkbox_set:checked .icon {
-fm-icon-color: #ffffff;
}

radio_set.header_radio_button_set:normal .self {
color: #ffffff;
border-image-source: none;
background-image: none;
background-color: transparent;
}
radio_set.header_radio_button_set:normal .icon {
background-color: rgba(92, 92, 92, 1.0);
background-image: none;

border-color: rgba(78, 78, 78, 1.0);
}
radio_set.header_radio_button_set:checked .icon {
-fm-icon-color: #ffffff;
}

text_box.title_text_1 .self {
font-weight: bold;
color: #505050;
font-size: 24pt;

}


text_box.title_text_2 .self {
font-weight: bold;
color: #999999;

}


rectangle.title_bar_rectangle .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(239, 239, 239, 1.0)), to(rgba(220, 220, 220, 1.0)));
border-color: rgba(188, 188, 188, 1.0);

border-image-source: none;

}


rectangle.region_rectangle .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(194, 194, 194, 1.0)), to(rgba(220, 220, 220, 1.0)), color-stop(0.10, rgba(220, 220, 220, 1.0)));
border-top-style: solid;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
border-top-color: rgba(188, 188, 188, 1.0);

border-image-source: none;

}


dot_control:normal .self {
background-color: rgba(242, 242, 242, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
border-radius: 5pt;
}

dot_control:normal .inner_border {

border-radius: 4pt;
}

dot_control:normal .dot_container {
box-sizing: border-box;
position: absolute;
height: 19pt;
bottom: 0.17em;
left: 0pt;
right: 0pt;
}

dot_control:normal .contents {
box-sizing: border-box;
position: absolute;
top: 0pt;
bottom: 23pt;
left: 0pt;
right: 0pt;
border-top-left-radius: 5pt;
border-top-right-radius: 5pt;
}

dot_control:normal .dot {
background-color: rgba(204, 204, 204, 1.0);
border-radius: 50%;
width: 13pt;
height: 13pt;
margin-left: 0.33em;
}


dot_control:active .dot {
background-color: rgba(153, 153, 153, 1.0);
}


popover:normal .self {
background-color: rgba(114, 114, 114, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(114, 114, 114, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 9pt 1pt rgba(0, 0, 0, 0.24);
font-family: helvetica neue, sans-serif;
font-style: normal;
color: #f2f2f2;
font-size: 18pt;
line-height: 2line;
text-align: center;
}

popover:normal .text {
box-sizing: border-box;
position: absolute;
top: 0.33em;
height: 1.33em;
left: 5pt;
right: 5pt;
}

popover:normal .contents {
background-color: rgba(242, 242, 242, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(113, 113, 113, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 4pt rgba(0, 0, 0, 0.52) inset;
box-sizing: border-box;
position: absolute;
top: 1.66em;
bottom: 5pt;
left: 5pt;
right: 5pt;
}


body:checked .self {
background-color: rgba(217, 217, 217, 1.0);
background-image: none;

border-width: 1pt;
border-style: solid;
border-color: rgba(179, 179, 179, 1.0);

border-image-source: none;
}


container.minimal_container:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}

container.minimal_container:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}

container.minimal_container:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

pop_up.header_pop-up_menu:focus .icon {
-fm-icon: down-arrow;
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

drop_down.header_drop-down_list:focus .icon {
-fm-icon: down-arrow;
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

calendar.header_drop-down_calendar:focus .icon {
-fm-icon: calendar;
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

text_box.title_header_text .self {
color: #505050;

}


text_box.leading_grand_summary_text .self {
color: #f2f2f2;

}


text_box.leading_sub_summary_1_text .self {
color: #f2f2f2;

}


text_box.leading_sub_summary_2_text .self {
color: #f2f2f2;

}


text_box.leading_sub_summary_additional_text .self {
color: #505050;

}


text_box.trailing_sub_summary_additional_text .self {
color: #505050;

}


text_box.trailing_sub_summary_2_text .self {
color: #505050;

}


text_box.trailing_sub_summary_1_text .self {
color: #505050;

}


text_box.trailing_grand_summary_text .self {
color: #f2f2f2;

}


text_box.footer_text .self {
color: #f2f2f2;

}


text_box.title_footer_text .self {
color: #505050;
font-size: 15pt;

}


text_box.header_text .self {
color: #f2f2f2;

}


text_box.navigation_part_text .self {
color: #fefefe;

}


button_bar:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(39, 39, 39, 1.0);
}

button_bar:normal .button_bar_divider {
border-width: 1pt;
border-style: solid;
border-color: rgba(39, 39, 39, 1.0);
}


button_bar_segment:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(75, 75, 75, 1.0)), to(rgba(63, 63, 63, 1.0)));
color: #c1c1c1;
font-size: 16pt;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button_bar_segment:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button_bar_segment:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(193, 193, 193, 1.0);
}

button_bar_segment:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(101, 101, 101, 1.0)), to(rgba(76, 76, 76, 1.0)));
color: #c1c1c1;
}

button_bar_segment:hover .icon {
-fm-icon-color: rgba(193, 193, 193, 1.0);
}

button_bar_segment:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(48, 48, 48, 1.0)), to(rgba(63, 63, 63, 1.0)));
color: #c1c1c1;
}

button_bar_segment:pressed .icon {
-fm-icon-color: rgba(193, 193, 193, 1.0);
}

button_bar_segment:active .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(48, 48, 48, 1.0)), to(rgba(63, 63, 63, 1.0)));
color: #fffefe;
}

button_bar_segment:active .icon {
-fm-icon-color: rgba(255, 254, 254, 1.0);
}

button_bar_segment:focus .inner_border {
box-shadow: 0pt 0pt 2pt 1pt rgba(55, 111, 224, 1.0) inset;
}

container:placeholder .self {
color: #a3a3a3;
}

calendar:placeholder .self {
color: #a3a3a3;
}

drop_down:placeholder .self {
color: #a3a3a3;
}

pop_up:placeholder .self {
color: #a3a3a3;
}

edit_box:placeholder .self {
color: #a3a3a3;
}


text_area:placeholder .self {
color: #a3a3a3;
}

bottom_nav_part .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(75, 75, 75, 1.0)), to(rgba(63, 63, 63, 1.0)));
box-sizing: border-box;
}


top_nav_part .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(75, 75, 75, 1.0)), to(rgba(63, 63, 63, 1.0)));
box-sizing: border-box;
}


button_bar.body_button_bar:normal .self {
border-color: rgba(188, 188, 188, 1.0);
}

button_bar.body_button_bar:normal .button_bar_divider {
border-color: rgba(188, 188, 188, 1.0);
}


button_bar_segment.body_button_bar:normal .self {
background-color: rgba(244, 244, 244, 1.0);
background-image: none;

border-image-source: none;

color: #6c6c6c;
}

button_bar_segment.body_button_bar:normal .icon {
-fm-icon-color: rgba(108, 108, 108, 1.0);
}

button_bar_segment.body_button_bar:hover .self {
background-color: rgba(249, 249, 249, 1.0);
background-image: none;

border-image-source: none;

color: #6c6c6c;
}

button_bar_segment.body_button_bar:hover .icon {
-fm-icon-color: rgba(108, 108, 108, 1.0);
}

button_bar_segment.body_button_bar:pressed .self {
background-color: rgba(236, 234, 234, 1.0);
background-image: none;

border-image-source: none;

color: #6c6c6c;
}

button_bar_segment.body_button_bar:pressed .icon {
-fm-icon-color: rgba(108, 108, 108, 1.0);
}

button_bar_segment.body_button_bar:active .self {
background-color: rgba(244, 244, 244, 1.0);
background-image: none;

border-image-source: none;

color: #272727;
}

button_bar_segment.body_button_bar:active .icon {
-fm-icon-color: rgba(39, 39, 39, 1.0);
}
