field .baseline {
border-bottom-width: 1pt;
}

field:droptarget .inner_border {
 box-shadow: 0pt 0pt 4pt rgba(198, 128, 6, 1.0) inset;
}

title_header .self {
background-color: rgba(244, 239, 226, 1.0);
box-sizing: border-box;
}


header .self {
background-color: rgba(241, 235, 223, 1.0);
border-bottom-width: 1pt;
border-bottom-style: solid;
border-bottom-color: rgba(255, 255, 255, 1.0);

box-sizing: border-box;
}

header text_box .self {
font-weight: bold;
}


leading_grand_summary .self {
background-color: rgba(116, 106, 79, 1.0);
border-top-width: 1pt;
border-top-style: solid;
border-top-color: rgba(244, 239, 226, 1.0);

box-sizing: border-box;
}

leading_grand_summary text_box .self {
color: #f4efe2;
}


leading_sub_summary_1 .self {
background-color: rgba(141, 129, 97, 1.0);
border-top-width: 1pt;
border-top-style: solid;
border-top-color: rgba(244, 239, 226, 1.0);

box-sizing: border-box;
}

leading_sub_summary_1 text_box .self {
color: #f4efe2;
}


leading_sub_summary_2 .self {
background-color: rgba(167, 153, 117, 1.0);
border-top-width: 1pt;
border-top-style: solid;
border-top-color: rgba(244, 239, 226, 1.0);

box-sizing: border-box;
}

leading_sub_summary_2 text_box .self {
color: #f4efe2;
}


leading_sub_summary .self {
background-color: rgba(206, 191, 152, 1.0);
border-top-width: 1pt;
border-top-style: solid;
border-top-color: rgba(244, 239, 226, 1.0);

box-sizing: border-box;
}


body .self {
background-color: rgba(244, 239, 226, 1.0);
-fm-use-body-current-row-style: true;
box-sizing: border-box;
}


body_alt .self {
background-color: rgba(247, 244, 236, 1.0);
background-image: none;

border-image-source: none;
box-sizing: border-box;
}


trailing_sub_summary .self {
background-color: rgba(244, 239, 226, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(206, 191, 152, 1.0);

box-sizing: border-box;
}


trailing_sub_summary_2 .self {
background-color: rgba(244, 239, 226, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(167, 153, 117, 1.0);

box-sizing: border-box;
}


trailing_sub_summary_1 .self {
background-color: rgba(244, 239, 226, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(141, 129, 97, 1.0);

box-sizing: border-box;
}


trailing_grand_summary .self {
background-color: rgba(116, 106, 79, 1.0);
box-sizing: border-box;
}

trailing_grand_summary text_box .self {
color: #f4efe2;
}


footer .self {
background-color: rgba(244, 239, 226, 1.0);
box-sizing: border-box;
}


title_footer .self {
background-color: rgba(244, 239, 226, 1.0);
box-sizing: border-box;
}

title_footer text_box .self {
font-size: 10pt;
}


text_box .self {
font-family: helvetica, sans-serif;
font-style: normal;
color: #706650;
font-size: 12pt;
line-height: 1line;
text-align: left;

}


text_box .text {
box-sizing: border-box;
height: 100%;
}

line .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(112, 102, 80, 1.0);

}


rectangle .self {
background-color: rgba(248, 246, 241, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(112, 102, 80, 1.0);

}


rounded .self {
background-color: rgba(248, 246, 241, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(112, 102, 80, 1.0);
border-radius: 3pt;

}

rounded .inner_border {

border-radius: 2pt;
}

oval .self {
background-color: rgba(248, 246, 241, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(112, 102, 80, 1.0);

}


edit_box:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #706650;
font-size: 12pt;
line-height: 1line;
text-align: left;
}

edit_box:normal .inner_border {

border-radius: 2pt;
}

edit_box:normal .text {
box-sizing: border-box;
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.2em;
margin-right: 0.2em;
margin-top: 0.3em;
margin-bottom: 0.1em;

}

text_area:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #706650;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
text_area:normal .inner_border {

border-radius: 2pt;
}
text_area:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.2em;
margin-right: 0.2em;
margin-top: 0.3em;
margin-bottom: 0.1em;
}
text_area:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

edit_box:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}


text_area:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}

drop_down:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #706650;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
drop_down:normal .inner_border {

border-radius: 2pt;
}
drop_down:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.2em;
margin-right: 0.2em;
margin-top: 0.3em;
margin-bottom: 0.1em;
}
drop_down:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-color: rgba(255, 255, 255, 1.0);
-fm-icon: down-arrow;
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-top-right-radius: 2pt;
border-bottom-right-radius: 2pt;
border-left-width: 1pt;
border-left-color: rgba(189, 178, 147, 1.0);
border-left-style: solid;
}

drop_down:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}
drop_down:focus .icon {
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-left-width: 1pt;
border-left-color: rgba(72, 63, 37, 1.0);
border-left-style: solid;
}

drop_down:hover .self {
border-color: rgba(152, 142, 115, 1.0);
}
drop_down:hover .icon {
background-color: rgba(244, 239, 226, 1.0);
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-left-color: rgba(152, 142, 115, 1.0);
}

drop_down:pressed .self {
border-color: rgba(72, 63, 37, 1.0);
}
drop_down:pressed .icon {
background-color: rgba(223, 213, 186, 1.0);
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-left-color: rgba(72, 63, 37, 1.0);
}

pop_up:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #706650;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
pop_up:normal .inner_border {

border-radius: 2pt;
}
pop_up:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.2em;
margin-right: 0.2em;
margin-top: 0.3em;
margin-bottom: 0.1em;
}
pop_up:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
-fm-icon: down-arrow;
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-top-right-radius: 2pt;
border-bottom-right-radius: 2pt;
}

pop_up:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}
pop_up:focus .icon {
-fm-icon-color: rgba(128, 114, 70, 1.0);
}

pop_up:hover .self {
background-color: rgba(244, 239, 226, 1.0);
background-image: none;

border-color: rgba(152, 142, 115, 1.0);
}
pop_up:hover .icon {
-fm-icon-color: rgba(128, 114, 70, 1.0);
}

pop_up:pressed .self {
background-color: rgba(223, 213, 186, 1.0);
background-image: none;

border-color: rgba(72, 63, 37, 1.0);
}
pop_up:pressed .icon {
-fm-icon-color: rgba(128, 114, 70, 1.0);
}

button:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(200, 188, 148, 1.0)), to(rgba(173, 161, 119, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(152, 142, 115, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #ffffff;
font-size: 12pt;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button:normal .inner_border {

border-radius: 2pt;
padding-left: 0.2em;
padding-right: 0.2em;
padding-top: 0.3em;
padding-bottom: 0.1em;
}
button:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button:focus .self {
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}


button:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(173, 161, 119, 1.0)), to(rgba(148, 138, 102, 1.0)));
border-color: rgba(72, 63, 37, 1.0);
}


button:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(148, 138, 102, 1.0)), to(rgba(123, 114, 84, 1.0)));
border-color: rgba(63, 55, 33, 1.0);
}


calendar:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #706650;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
calendar:normal .inner_border {

border-radius: 2pt;
}
calendar:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.2em;
margin-right: 0.2em;
margin-top: 0.3em;
margin-bottom: 0.1em;
}
calendar:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-color: rgba(255, 255, 255, 1.0);
-fm-icon: calendar;
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-top-right-radius: 2pt;
border-bottom-right-radius: 2pt;
border-left-width: 1pt;
border-left-color: rgba(189, 178, 147, 1.0);
border-left-style: solid;
}

calendar:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}
calendar:focus .icon {
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-left-width: 1pt;
border-left-color: rgba(72, 63, 37, 1.0);
border-left-style: solid;
}

calendar:hover .self {
border-color: rgba(152, 142, 115, 1.0);
}
calendar:hover .icon {
background-color: rgba(244, 239, 226, 1.0);
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-left-color: rgba(152, 142, 115, 1.0);
}

calendar:pressed .self {
border-color: rgba(72, 63, 37, 1.0);
}
calendar:pressed .icon {
background-color: rgba(223, 213, 186, 1.0);
-fm-icon-color: rgba(128, 114, 70, 1.0);
border-left-color: rgba(72, 63, 37, 1.0);
}

checkbox_set:normal .self {
font-family: helvetica, sans-serif;
font-style: normal;
color: #706650;
font-size: 12pt;
line-height: 1.2line;
text-align: left;
}
checkbox_set:normal .icon {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
padding-left: 0.1em;
padding-right: 0.1em;
padding-top: 0.1em;
padding-bottom: 0.1em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 0.9em;
height: 0.9em;
}
checkbox_set:checked .icon {
-fm-icon: classic-check;
-fm-icon-color: #817865;
}
checkbox_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 0.9em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.4em;
}

checkbox_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}

radio_set:normal .self {
font-family: helvetica, sans-serif;
font-style: normal;
color: #706650;
font-size: 12pt;
line-height: 1.2line;
text-align: left;
}
radio_set:normal .icon {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
padding-left: 0.1em;
padding-right: 0.1em;
padding-top: 0.1em;
padding-bottom: 0.1em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 0.9em;
height: 0.9em;
border-radius: 50%;
}
radio_set:checked .icon {
-fm-icon: radio;
-fm-icon-color: #817865;
}
radio_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 0.9em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.4em;
}

radio_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}

tab_control:active .self {
color: #72674e;


}
tab_panel:active .self {
background-color: rgba(241, 235, 223, 1.0);
background-image: none;

box-shadow: 0pt 1pt 4pt 1pt rgba(114, 103, 78, 0.10);
}
tab_panel:active .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:active .tab {
background-image: none;
}

tab_panel:activefocus .self {

background-image: none;

box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}
tab_panel:activefocus .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:activefocus .tab {

background-image: none;

}

tab_control:normal .self {
font-family: helvetica, sans-serif;
font-style: normal;
color: #ffffff;
font-size: 12pt;
line-height: 1line;
text-align: left;

-fm-tab-spacing: -1;

}
tab_panel:normal .self {
background-color: rgba(173, 161, 119, 1.0);

border-width: 1pt;
border-style: solid;
border-color: rgba(152, 142, 115, 1.0);
border-radius: 3pt;
-fm-tab-top-left-radius: 3pt;
-fm-tab-top-right-radius: 3pt;

}
tab_panel:normal .inner_border {

border-radius: 2pt;
}
tab_panel:normal .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:normal .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(200, 188, 148, 1.0)), to(rgba(173, 161, 119, 1.0)));
border-top-left-radius: 2pt;
border-top-right-radius: 2pt;
}
tab_panel:normal .tab_inner_border {
padding-left: 0.2em;
padding-right: 0.2em;
padding-top: 0.3em;
padding-bottom: 0.1em;
}

tab_panel:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(173, 161, 119, 1.0)), to(rgba(148, 138, 102, 1.0)));

}
tab_panel:hover .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:hover .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(173, 161, 119, 1.0)), to(rgba(148, 138, 102, 1.0)));
}

tab_panel:focus .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(200, 188, 148, 1.0)), to(rgba(173, 161, 119, 1.0)));
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}
tab_panel:focus .text {
box-sizing: border-box;
height: 100%;
}
tab_panel:focus .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(200, 188, 148, 1.0)), to(rgba(173, 161, 119, 1.0)));
}

portal:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
-fm-use-portal-current-row-style: true;
}

portal:normal .inner_border {

border-radius: 2pt;
}
portal:normal .contents {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
}
portal:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

portal:normal .row {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(189, 178, 147, 1.0);
}

portal:normal .row_alt {
background-color: rgba(244, 239, 229, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(189, 178, 147, 1.0);
}


portal:normal .row_active {
background-color: rgba(223, 213, 186, 1.0);
border-top-width: 1pt;
border-bottom-width: 1pt;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(188, 169, 135, 1.0);
border-bottom-color: rgba(188, 169, 135, 1.0);
}


chart:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #72674e;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
chart:normal .inner_border {

border-radius: 2pt;
padding-left: 0.2em;
padding-right: 0.2em;
padding-top: 0.2em;
padding-bottom: 0.2em;

}

chart:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}

web_viewer:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #72674e;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
web_viewer:normal .inner_border {

border-radius: 2pt;
padding-left: 0.2em;
padding-right: 0.2em;
padding-top: 0.2em;
padding-bottom: 0.2em;

}

web_viewer:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}

container:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
font-family: helvetica, sans-serif;
font-style: normal;
color: #72674e;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
container:normal .inner_border {

border-radius: 2pt;
padding-left: 0.2em;
padding-right: 0.2em;
padding-top: 0.2em;
padding-bottom: 0.2em;

}

container:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(72, 63, 37, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(198, 128, 6, 1.0);
}

scrollbar:normal .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #bdb293;
border-top-right-radius: 3pt;
border-bottom-right-radius: 3pt;
background-color: rgba(244, 239, 226, 1.0);
width: 17pt;
}

scrollbar:disabled .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #bdb293;
border-top-right-radius: 3pt;
border-bottom-right-radius: 3pt;
background-color: rgba(255, 255, 255, 1.0);
}

scrollbar:normal .scrollbar_thumb {
border-left-width: 1pt;
border-left-color: #bdb293;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #bdb293;
border-top-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #bdb293;
border-bottom-style: solid;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
}

scrollbar:normal .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #bdb293;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #bdb293;
border-bottom-style: solid;
border-top-right-radius: 3pt;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #807246;
}

scrollbar:hover .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #bdb293;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #bdb293;
border-bottom-style: solid;
border-top-right-radius: 3pt;

background-color: rgba(244, 239, 226, 1.0);
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #807246;
}

scrollbar:pressed .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #bdb293;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #bdb293;
border-bottom-style: solid;
border-top-right-radius: 3pt;

background-color: rgba(223, 213, 186, 1.0);
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #807246;
}

scrollbar:normal .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #bdb293;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #bdb293;
border-top-style: solid;
border-bottom-right-radius: 3pt;

background-color: rgba(255, 255, 255, 1.0);
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #807246;
}

scrollbar:hover .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #bdb293;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #bdb293;
border-top-style: solid;
border-bottom-right-radius: 3pt;

background-color: rgba(244, 239, 226, 1.0);
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #807246;
}

scrollbar:pressed .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #bdb293;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #bdb293;
border-top-style: solid;
border-bottom-right-radius: 3pt;

background-color: rgba(223, 213, 186, 1.0);
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #807246;
}

popover:normal .self {
background-color: rgba(171, 158, 117, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(152, 142, 115, 1.0);
border-radius: 3pt;
box-shadow: 0pt 5pt 9pt rgba(0, 0, 0, 0.24);
font-family: helvetica, sans-serif;
font-style: normal;
color: #ffffff;
font-size: 12pt;
line-height: 2line;
text-align: center;
}

popover:normal .text {
box-sizing: border-box;
position: absolute;
top: 0.3em;
height: 1.3em;
left: 2pt;
right: 2pt;
}

popover:normal .contents {
background-color: rgba(244, 239, 226, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(152, 142, 115, 1.0);
border-radius: 3pt;
box-shadow: 0pt 0pt 4pt rgba(0, 0, 0, 0.54) inset;
box-sizing: border-box;
position: absolute;
top: 1.6em;
bottom: 2pt;
left: 2pt;
right: 2pt;
}


body:checked .self {
background-color: rgba(231, 226, 212, 1.0);
background-image: none;

border-width: 1pt;
border-style: solid;
border-color: rgba(255, 255, 255, 1.0);

border-image-source: none;
}


dot_control:normal .self {
background-color: rgba(244, 239, 226, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(189, 178, 147, 1.0);
border-radius: 3pt;
}

dot_control:normal .inner_border {

border-radius: 2pt;
}

dot_control:normal .dot_container {
box-sizing: border-box;
position: absolute;
height: 15pt;
bottom: 0.1em;
left: 0pt;
right: 0pt;
}

dot_control:normal .contents {
box-sizing: border-box;
position: absolute;
top: 0pt;
bottom: 17pt;
left: 0pt;
right: 0pt;
border-top-left-radius: 3pt;
border-top-right-radius: 3pt;
}

dot_control:normal .dot {
background-color: rgba(189, 178, 147, 1.0);
border-radius: 50%;
width: 9pt;
height: 9pt;
margin-left: 0.33em;
}


dot_control:active .dot {
background-color: rgba(148, 138, 102, 1.0);
border-color: rgba(123, 114, 84, 1.0);
}


edit_box.minimal_edit_box:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(152, 142, 115, 0.0);
border-image-source: none;

}



edit_box.minimal_edit_box:hover .self {
border-color: rgba(152, 142, 115, 1.0);
}



edit_box.minimal_edit_box:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}



calendar.minimal_drop-down_calendar:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(152, 142, 115, 0.0);
border-image-source: none;

}
calendar.minimal_drop-down_calendar:normal .icon {
background-color: rgba(255, 255, 255, 0.0);
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(152, 142, 115, 0.0);
}

calendar.minimal_drop-down_calendar:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

drop_down.minimal_drop-down_list:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(152, 142, 115, 0.0);
border-image-source: none;

}
drop_down.minimal_drop-down_list:normal .icon {
background-color: rgba(255, 255, 255, 0.0);
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(152, 142, 115, 0.0);
}

drop_down.minimal_drop-down_list:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

pop_up.minimal_pop-up_menu:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(152, 142, 115, 0.0);
border-image-source: none;

}
pop_up.minimal_pop-up_menu:normal .icon {
background-color: rgba(255, 255, 255, 0.0);
-fm-icon-color: rgba(255, 255, 255, 0.0);
}

pop_up.minimal_pop-up_menu:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

container.minimal_container:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(152, 142, 115, 0.0);
border-image-source: none;

}

container.minimal_container:hover .self {
border-color: rgba(152, 142, 115, 1.0);
}

container.minimal_container:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

text_box.title_header_text .self {
color: #706650;

}


text_box.leading_grand_summary_text .self {
color: #f4efe2;

}


text_box.leading_sub_summary_1_text .self {
color: #f4efe2;

}


text_box.leading_sub_summary_2_text .self {
color: #f4efe2;

}


text_box.leading_sub_summary_additional_text .self {
color: #f4efe2;

}


text_box.trailing_grand_summary_text .self {
color: #f4efe2;

}


text_box.footer_text .self {
color: #706650;

}


text_box.title_footer_text .self {
font-size: 10pt;

}


text_box.header_text .self {
font-weight: bold;

}


text_box.navigation_part_text .self {
color: #ffffff;

}


button_bar:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(151, 142, 114, 1.0);
}

button_bar:normal .button_bar_divider {
border-width: 1pt;
border-style: solid;
border-color: rgba(151, 142, 114, 1.0);
}


button_bar_segment:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(187, 175, 129, 1.0)), to(rgba(156, 144, 99, 1.0)));
color: #ffffff;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button_bar_segment:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button_bar_segment:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button_bar_segment:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(169, 156, 107, 1.0)), to(rgba(187, 175, 129, 1.0)));
color: #ffffff;
}

button_bar_segment:hover .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button_bar_segment:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(158, 148, 110, 1.0)), to(rgba(158, 148, 110, 1.0)));
color: #f4efe3;
}

button_bar_segment:pressed .icon {
-fm-icon-color: rgba(244, 239, 227, 1.0);
}

button_bar_segment:active .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(156, 144, 99, 1.0)), to(rgba(187, 175, 129, 1.0)));
color: #ffffff;
}

button_bar_segment:active .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button_bar_segment:focus .inner_border {
box-shadow: 0pt 0pt 4pt rgba(157, 99, 0, 1.0) inset;
}

container:placeholder .self {
color: #d8c899;
}

calendar:placeholder .self {
color: #d8c899;
}

drop_down:placeholder .self {
color: #d8c899;
}

pop_up:placeholder .self {
color: #d8c899;
}

edit_box:placeholder .self {
color: #d8c899;
}


text_area:placeholder .self {
color: #d8c899;
}

bottom_nav_part .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(187, 175, 129, 1.0)), to(rgba(156, 144, 99, 1.0)));
box-sizing: border-box;
}


top_nav_part .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(187, 175, 129, 1.0)), to(rgba(156, 144, 99, 1.0)));
box-sizing: border-box;
}


text_box.trailing_sub_summary_additional_text .self {
color: #706650;

}


text_box.trailing_sub_summary_1_text .self {
color: #706650;

}


text_box.trailing_sub_summary_2_text .self {
color: #706650;

}

