field .baseline {
border-bottom-width: 1pt;
}

field:droptarget .inner_border {
 box-shadow: 0pt 0pt 6pt rgba(236, 214, 24, 1.0) inset;
}

title_header .self {
background-color: rgba(255, 255, 255, 1.0);
box-sizing: border-box;
}

title_header text_box .self {
color: #861414;
}


header .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(153, 0, 0, 1.0)), to(rgba(221, 79, 79, 1.0)));
border-bottom-width: 2pt;
border-bottom-style: solid;
border-bottom-color: rgba(204, 204, 204, 1.0);

box-sizing: border-box;
}

header text_box .self {
font-weight: bold;
color: #ffffff;
}


leading_grand_summary .self {
background-color: rgba(146, 146, 146, 1.0);
box-sizing: border-box;
}

leading_grand_summary text_box .self {
color: #ffffff;
}


leading_sub_summary_1 .self {
background-color: rgba(182, 182, 182, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(255, 255, 255, 1.0);

box-sizing: border-box;
}

leading_sub_summary_1 text_box .self {
color: #ffffff;
}


leading_sub_summary_2 .self {
background-color: rgba(207, 207, 207, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(255, 255, 255, 1.0);

box-sizing: border-box;
}

leading_sub_summary_2 text_box .self {
color: #ffffff;
}


leading_sub_summary .self {
background-color: rgba(224, 224, 224, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(255, 255, 255, 1.0);

box-sizing: border-box;
}

leading_sub_summary text_box .self {
color: #333333;
}


body .self {
background-color: rgba(255, 255, 255, 1.0);
-fm-use-body-current-row-style: true;
box-sizing: border-box;
}


body_alt .self {
background-color: rgba(248, 248, 248, 1.0);
background-image: none;

border-image-source: none;
box-sizing: border-box;
}


trailing_sub_summary .self {
background-color: rgba(224, 224, 224, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(216, 216, 216, 1.0);

box-sizing: border-box;
}


trailing_sub_summary_2 .self {
background-color: rgba(207, 207, 207, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(182, 182, 182, 1.0);

box-sizing: border-box;
}


trailing_sub_summary_1 .self {
background-color: rgba(182, 182, 182, 1.0);
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(146, 146, 146, 1.0);

box-sizing: border-box;
}


trailing_grand_summary .self {
background-color: rgba(146, 146, 146, 1.0);
box-sizing: border-box;
}

trailing_grand_summary text_box .self {
color: #ffffff;
}


footer .self {
background-color: rgba(255, 255, 255, 1.0);
box-sizing: border-box;
}

footer text_box .self {
color: #861414;
}


title_footer .self {
background-color: rgba(255, 255, 255, 1.0);
box-sizing: border-box;
}

title_footer text_box .self {
color: #861414;
font-size: 10pt;
}


text_box .self {
font-family: arial, sans-serif;
font-style: normal;
color: #505050;
font-size: 12pt;
line-height: 1line;
text-align: left;

}


text_box .text {
box-sizing: border-box;
height: 100%;
}

line .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(134, 20, 20, 1.0);

}


rectangle .self {
background-color: rgba(248, 248, 248, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(134, 20, 20, 1.0);

}


rounded .self {
background-color: rgba(248, 248, 248, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(134, 20, 20, 1.0);
border-radius: 5pt;

}

rounded .inner_border {

border-radius: 4pt;
}

oval .self {
background-color: rgba(248, 248, 248, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(134, 20, 20, 1.0);

}


edit_box:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #861414;
font-size: 12pt;
line-height: 1line;
text-align: left;
}

edit_box:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(218, 218, 218, 1.0) inset;
}

edit_box:normal .text {
box-sizing: border-box;
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.62em;
margin-right: 0.62em;
margin-top: 0.31em;
margin-bottom: 0.08em;

}

text_area:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #861414;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
text_area:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(218, 218, 218, 1.0) inset;
}
text_area:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.62em;
margin-right: 0.62em;
margin-top: 0.31em;
margin-bottom: 0.08em;
}
text_area:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

edit_box:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}


text_area:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}

drop_down:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #861414;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
drop_down:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(218, 218, 218, 1.0) inset;
}
drop_down:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.62em;
margin-right: 0.62em;
margin-top: 0.31em;
margin-bottom: 0.08em;
}
drop_down:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
-fm-icon: down-arrow;
-fm-icon-color: rgba(149, 149, 149, 1.0);
border-top-right-radius: 0pt;
border-bottom-right-radius: 0pt;
border-left-width: 1pt;
border-left-color: rgba(150, 151, 149, 1.0);
border-left-style: solid;
}

drop_down:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}
drop_down:focus .icon {
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
-fm-icon-color: rgba(149, 149, 149, 1.0);
border-left-width: 1pt;
border-left-color: rgba(52, 52, 52, 1.0);
border-left-style: solid;
}

drop_down:hover .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 229, 221, 1.0)), to(rgba(234, 181, 181, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
-fm-icon-color: rgba(149, 149, 149, 1.0);
}

drop_down:pressed .self {
border-color: rgba(52, 52, 52, 1.0);
}
drop_down:pressed .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 219, 219, 1.0)), to(rgba(184, 183, 183, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
-fm-icon-color: rgba(149, 149, 149, 1.0);
border-left-color: rgba(52, 52, 52, 1.0);
}

pop_up:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #861414;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
pop_up:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
}
pop_up:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.62em;
margin-right: 0.62em;
margin-top: 0.31em;
margin-bottom: 0.08em;
}
pop_up:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
-fm-icon: down-arrow;
-fm-icon-color: rgba(149, 149, 149, 1.0);
border-top-right-radius: 0pt;
border-bottom-right-radius: 0pt;
}

pop_up:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}
pop_up:focus .icon {
-fm-icon-color: rgba(149, 149, 149, 1.0);
}

pop_up:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 229, 221, 1.0)), to(rgba(234, 181, 181, 1.0)));
}
pop_up:hover .icon {
-fm-icon-color: rgba(149, 149, 149, 1.0);
}

pop_up:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(219, 219, 219, 1.0)), to(rgba(184, 183, 183, 1.0)));
border-color: rgba(52, 52, 52, 1.0);
}
pop_up:pressed .icon {
-fm-icon-color: rgba(149, 149, 149, 1.0);
}

button:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #505050;
font-size: 12pt;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
padding-left: 0.62em;
padding-right: 0.62em;
padding-top: 0.31em;
padding-bottom: 0.15em;
}
button:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(80, 80, 80, 1.0);
}

button:focus .self {
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}


button:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 229, 221, 1.0)), to(rgba(234, 181, 181, 1.0)));
}


button:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(219, 219, 219, 1.0)), to(rgba(184, 183, 183, 1.0)));
border-color: rgba(52, 52, 52, 1.0);
}


calendar:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #861414;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
calendar:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(218, 218, 218, 1.0) inset;
}
calendar:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.62em;
margin-right: 0.62em;
margin-top: 0.31em;
margin-bottom: 0.08em;
}
calendar:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
-fm-icon: calendar;
-fm-icon-color: rgba(149, 149, 149, 1.0);
border-top-right-radius: 0pt;
border-bottom-right-radius: 0pt;
border-left-width: 1pt;
border-left-color: rgba(150, 151, 149, 1.0);
border-left-style: solid;
}

calendar:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}
calendar:focus .icon {
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
-fm-icon-color: rgba(149, 149, 149, 1.0);
border-left-width: 1pt;
border-left-color: rgba(52, 52, 52, 1.0);
border-left-style: solid;
}

calendar:hover .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 229, 221, 1.0)), to(rgba(234, 181, 181, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
-fm-icon-color: rgba(149, 149, 149, 1.0);
}

calendar:pressed .self {
border-color: rgba(52, 52, 52, 1.0);
}
calendar:pressed .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 219, 219, 1.0)), to(rgba(184, 183, 183, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
-fm-icon-color: rgba(149, 149, 149, 1.0);
border-left-color: rgba(52, 52, 52, 1.0);
}

checkbox_set:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #505050;
font-size: 12pt;
line-height: 1.2line;
text-align: left;
}
checkbox_set:normal .icon {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
padding-left: 0.08em;
padding-right: 0.08em;
padding-top: 0.08em;
padding-bottom: 0.08em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
}
checkbox_set:checked .icon {
-fm-icon: modern-check;
-fm-icon-color: #959595;
}
checkbox_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.31em;
}

checkbox_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}

radio_set:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #505050;
font-size: 12pt;
line-height: 1.2line;
text-align: left;
}
radio_set:normal .icon {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
padding-left: 0.15em;
padding-right: 0.15em;
padding-top: 0.15em;
padding-bottom: 0.15em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
border-radius: 50%;
}
radio_set:checked .icon {
-fm-icon: radio;
-fm-icon-color: #959595;
}
radio_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.31em;
}

radio_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}

tab_control .self {
-fm-tab-spacing: -1;

}

tab_control:active .self {
color: #ffffff;

}
tab_panel:active .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(221, 79, 79, 1.0)), to(rgba(153, 0, 0, 1.0)), color-stop(0.50, rgba(153, 0, 0, 1.0)));
border-color: rgba(153, 0, 0, 1.0);
}
tab_panel:active .tab_inner_border {
box-shadow: none;

}

tab_panel:activefocus .tab {
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}
tab_panel:activefocus .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(218, 218, 218, 1.0) inset;
}

tab_control:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #861414;
font-size: 12pt;
line-height: 1line;
text-align: left;

}
tab_panel:normal .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
border-top-width: 1pt;
border-right-width: 1pt;
border-left-width: 1pt;
border-top-style: solid;
border-right-style: solid;
border-left-style: solid;
border-top-color: rgba(153, 153, 153, 1.0);
border-right-color: rgba(153, 153, 153, 1.0);
border-left-color: rgba(153, 153, 153, 1.0);
}
tab_panel:normal .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
padding-left: 0.62em;
padding-right: 0.62em;
padding-top: 0.15em;
padding-bottom: 0em;
}
tab_panel:normal .text {
box-sizing: border-box;
height: 100%;
}

tab_panel:hover .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 229, 221, 1.0)), to(rgba(234, 181, 181, 1.0)));
border-top-width: 1pt;
border-right-width: 1pt;
border-left-width: 1pt;
border-top-style: solid;
border-right-style: solid;
border-left-style: solid;
border-top-color: rgba(153, 153, 153, 1.0);
border-right-color: rgba(153, 153, 153, 1.0);
border-left-color: rgba(153, 153, 153, 1.0);
}
tab_panel:hover .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
}

tab_panel:focus .tab {
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}
tab_panel:focus .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(255, 255, 255, 1.0) inset;
}

tab_panel:normal .panel {
background-color: rgba(240, 240, 240, 1.0);
border-top-width: 6pt;
border-right-width: 1pt;
border-bottom-width: 1pt;
border-left-width: 1pt;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgba(153, 0, 0, 1.0);
border-right-color: rgba(153, 0, 0, 1.0);
border-bottom-color: rgba(153, 0, 0, 1.0);
border-left-color: rgba(153, 0, 0, 1.0);
}

tab_panel:normal .panel_inner_border {
box-shadow: 0pt 0pt rgba(255, 255, 255, 1.0) inset;
}


portal:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
-fm-use-portal-current-row-style: true;
}

portal:normal .inner_border {

border-radius: 0pt;
}
portal:normal .contents {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
}
portal:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

portal:normal .row {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(150, 151, 149, 1.0);
}

portal:normal .row_alt {
background-color: rgba(240, 240, 240, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(150, 151, 149, 1.0);
}


portal:normal .row_active {
background-color: rgba(254, 225, 225, 1.0);
border-top-width: 1pt;
border-bottom-width: 1pt;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(134, 20, 20, 1.0);
border-bottom-color: rgba(134, 20, 20, 1.0);
}


chart:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #505050;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
chart:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(218, 218, 218, 1.0) inset;
padding-left: 0.62em;
padding-right: 0.62em;
padding-top: 0.62em;
padding-bottom: 0.62em;

}

chart:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}

web_viewer:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #505050;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
web_viewer:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(218, 218, 218, 1.0) inset;
padding-left: 0.62em;
padding-right: 0.62em;
padding-top: 0.62em;
padding-bottom: 0.62em;

}

web_viewer:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}

container:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(150, 151, 149, 1.0);
border-radius: 0pt;
font-family: arial, sans-serif;
font-style: normal;
color: #505050;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
container:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(218, 218, 218, 1.0) inset;
padding-left: 0.62em;
padding-right: 0.62em;
padding-top: 0.62em;
padding-bottom: 0.62em;

}

container:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(52, 52, 52, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(236, 214, 24, 1.0);
}

scrollbar:normal .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #969795;
border-top-right-radius: 0pt;
border-bottom-right-radius: 0pt;
background-color: rgba(220, 220, 220, 1.0);
width: 17pt;
}

scrollbar:disabled .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #969795;
border-top-right-radius: 0pt;
border-bottom-right-radius: 0pt;
background-color: rgba(255, 255, 255, 1.0);
}

scrollbar:normal .scrollbar_thumb {
border-left-width: 1pt;
border-left-color: #969795;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #969795;
border-top-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #969795;
border-bottom-style: solid;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
width: 100%;
}

scrollbar:normal .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #969795;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #969795;
border-bottom-style: solid;
border-top-right-radius: 0pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #959595;
}

scrollbar:hover .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #969795;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #969795;
border-bottom-style: solid;
border-top-right-radius: 0pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 229, 221, 1.0)), to(rgba(234, 181, 181, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #959595;
}

scrollbar:pressed .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #969795;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #969795;
border-bottom-style: solid;
border-top-right-radius: 0pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(219, 219, 219, 1.0)), to(rgba(184, 183, 183, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #959595;
}

scrollbar:normal .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #969795;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #969795;
border-top-style: solid;
border-bottom-right-radius: 0pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #959595;
}

scrollbar:hover .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #969795;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #969795;
border-top-style: solid;
border-bottom-right-radius: 0pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 229, 221, 1.0)), to(rgba(234, 181, 181, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #959595;
}

scrollbar:pressed .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #969795;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #969795;
border-top-style: solid;
border-bottom-right-radius: 0pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(219, 219, 219, 1.0)), to(rgba(184, 183, 183, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #959595;
}

popover:normal .self {
background-color: rgba(153, 0, 0, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 0, 0, 1.0);
border-radius: 0pt;
box-shadow: 0pt 0pt 9pt rgba(0, 0, 0, 0.24);
font-family: arial, sans-serif;
font-style: normal;
color: #ffffff;
font-size: 12pt;
line-height: 2line;
text-align: center;
}

popover:normal .text {
box-sizing: border-box;
position: absolute;
top: 0.38em;
height: 1.38em;
left: 8pt;
right: 8pt;
}

popover:normal .contents {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 0, 0, 1.0);
border-radius: 0pt;
box-shadow: 0pt 0pt 4pt rgba(0, 0, 0, 0.52) inset;
box-sizing: border-box;
position: absolute;
top: 1.76em;
bottom: 8pt;
left: 8pt;
right: 8pt;
}


dot_control:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 0, 0, 1.0);
border-radius: 0pt;
}

dot_control:normal .inner_border {

border-radius: 0pt;
}

dot_control:normal .dot_container {
box-sizing: border-box;
position: absolute;
height: 15pt;
bottom: 0.23em;
left: 0pt;
right: 0pt;
}

dot_control:normal .contents {
box-sizing: border-box;
position: absolute;
top: 0pt;
bottom: 21pt;
left: 0pt;
right: 0pt;
border-top-left-radius: 0pt;
border-top-right-radius: 0pt;
}

dot_control:normal .dot {
background-color: rgba(254, 225, 225, 1.0);
border-radius: 50%;
width: 9pt;
height: 9pt;
margin-left: 0.33em;
}


dot_control:active .dot {
background-color: rgba(153, 0, 0, 1.0);
}


body:checked .self {
background-color: rgba(254, 225, 225, 1.0);
background-image: none;

border-width: 1pt;
border-style: solid;
border-color: rgba(153, 0, 0, 1.0);

border-image-source: none;
}


calendar.minimal_drop-down_calendar:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(150, 151, 149, 0.0);
border-image-source: none;

}
calendar.minimal_drop-down_calendar:normal .inner_border {
box-shadow: none;

}
calendar.minimal_drop-down_calendar:normal .icon {
background-image: none;
background-color: rgba(255, 255, 255, 0.0);
box-shadow: 0pt 0pt rgba(255, 255, 255, 0.0) inset;
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(150, 151, 149, 0.0);
}

calendar.minimal_drop-down_calendar:hover .self {
border-color: rgba(150, 151, 149, 1.0);
}
calendar.minimal_drop-down_calendar:hover .icon {
border-left-color: rgba(150, 151, 149, 1.0);
}

calendar.minimal_drop-down_calendar:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}
calendar.minimal_drop-down_calendar:focus .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
}

drop_down.minimal_drop-down_list:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(150, 151, 149, 0.0);
border-image-source: none;

}
drop_down.minimal_drop-down_list:normal .inner_border {
box-shadow: none;

}
drop_down.minimal_drop-down_list:normal .icon {
background-image: none;
background-color: rgba(255, 255, 255, 0.0);
box-shadow: 0pt 0pt rgba(255, 255, 255, 0.0) inset;
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(150, 151, 149, 0.0);
}

drop_down.minimal_drop-down_list:hover .self {
border-color: rgba(150, 151, 149, 1.0);
}
drop_down.minimal_drop-down_list:hover .icon {
border-left-color: rgba(150, 151, 149, 1.0);
}

drop_down.minimal_drop-down_list:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}
drop_down.minimal_drop-down_list:focus .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
}

edit_box.minimal_edit_box:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(150, 151, 149, 0.0);
border-image-source: none;

}

edit_box.minimal_edit_box:normal .inner_border {
box-shadow: none;

}



edit_box.minimal_edit_box:hover .self {
border-color: rgba(150, 151, 149, 1.0);
}



edit_box.minimal_edit_box:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}



pop_up.minimal_pop-up_menu:normal .self {
background-color: transparent;

background-image: none;

border-color: rgba(150, 151, 149, 0.0);
border-image-source: none;

}
pop_up.minimal_pop-up_menu:normal .inner_border {
box-shadow: none;

}
pop_up.minimal_pop-up_menu:normal .icon {
box-shadow: 0pt 0pt rgba(255, 255, 255, 0.0) inset;
-fm-icon-color: rgba(255, 255, 255, 0.0);
}

pop_up.minimal_pop-up_menu:hover .self {
border-color: rgba(150, 151, 149, 1.0);
}

pop_up.minimal_pop-up_menu:focus .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(255, 255, 255, 1.0)), to(rgba(219, 219, 219, 1.0)));
}

container.minimal_container:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(150, 151, 149, 0.0);
border-image-source: none;

}
container.minimal_container:normal .inner_border {
box-shadow: none;

}

container.minimal_container:hover .self {
border-color: rgba(150, 151, 149, 1.0);
}

container.minimal_container:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

text_box.title_header_text .self {
color: #861414;

}


text_box.leading_grand_summary_text .self {
color: #ffffff;

}


text_box.leading_sub_summary_1_text .self {
color: #ffffff;

}


text_box.leading_sub_summary_2_text .self {
color: #ffffff;

}


text_box.leading_sub_summary_additional_text .self {
color: #333333;

}


text_box.trailing_grand_summary_text .self {
color: #ffffff;

}


text_box.footer_text .self {
color: #861414;

}


text_box.title_footer_text .self {
color: #861414;
font-size: 10pt;

}


text_box.header_text .self {
font-weight: bold;
color: #ffffff;

}


text_box.navigation_part_text .self {
color: #a31f22;

}


button_bar:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(230, 230, 230, 1.0);
}

button_bar:normal .button_bar_divider {
border-width: 1pt;
border-style: solid;
border-color: rgba(230, 230, 230, 1.0);
}


button_bar_segment:normal .self {
background-color: rgba(255, 255, 255, 1.0);
color: #808080;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button_bar_segment:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button_bar_segment:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(128, 128, 128, 1.0);
}

button_bar_segment:hover .self {
background-color: rgba(246, 246, 246, 1.0);
color: #cacaca;
}

button_bar_segment:hover .icon {
-fm-icon-color: rgba(202, 202, 202, 1.0);
}

button_bar_segment:pressed .self {
background-color: rgba(223, 223, 223, 1.0);
color: #a31f22;
}

button_bar_segment:pressed .icon {
-fm-icon-color: rgba(163, 31, 34, 1.0);
}

button_bar_segment:active .self {
background-color: rgba(133, 0, 2, 1.0);
color: #ffffff;
}

button_bar_segment:active .icon {
-fm-icon-color: rgba(255, 255, 255, 1.0);
}

button_bar_segment:focus .inner_border {
box-shadow: 0pt 0pt 6pt rgba(255, 222, 88, 1.0) inset;
}

container:placeholder .self {
color: #cdcdcd;
}

calendar:placeholder .self {
color: #cdcdcd;
}

drop_down:placeholder .self {
color: #cdcdcd;
}

pop_up:placeholder .self {
color: #cdcdcd;
}

edit_box:placeholder .self {
color: #cdcdcd;
}


text_area:placeholder .self {
color: #cdcdcd;
}

bottom_nav_part .self {
background-color: rgba(255, 255, 255, 1.0);
box-sizing: border-box;
}


top_nav_part .self {
background-color: rgba(255, 255, 255, 1.0);
box-sizing: border-box;
}


text_box.trailing_sub_summary_additional_text .self {
color: #505050;

}


text_box.trailing_sub_summary_1_text .self {
color: #505050;

}


text_box.trailing_sub_summary_2_text .self {
color: #505050;

}

