field .baseline {
border-bottom-width: 1pt;
}

field:droptarget .inner_border {
 box-shadow: 0pt 0pt 6pt rgba(230, 114, 20, 1.0) inset;
}

title_header .self {
background-color: rgba(246, 248, 249, 1.0);
box-sizing: border-box;
}

title_header text_box .self {
color: #666666;
}


header .self {

-fm-table-background-color: rgba(75, 58, 99, 1.0);

border-image-source: url(images/purpleheader.png);
border-image-slice: 144 76 28 76 fill;
border-image-repeat: stretch;
border-image-width: 36pt 19pt 7pt 19pt;
box-sizing: border-box;
}

header text_box .self {
font-weight: bold;
color: #e9e9e9;
}


leading_grand_summary .self {

-fm-table-background-color: rgba(76, 59, 100, 1.0);

border-image-source: url(images/purplegrand.png);
border-image-slice: 0 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 0pt 19pt 0pt 19pt;
box-sizing: border-box;
}

leading_grand_summary text_box .self {
color: #cccccc;
}


leading_sub_summary_1 .self {

-fm-table-background-color: rgba(99, 81, 122, 1.0);

border-image-source: url(images/purplelead1.png);
border-image-slice: 4 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 1pt 19pt 0pt 19pt;
box-sizing: border-box;
}

leading_sub_summary_1 text_box .self {
color: #e6e6e6;
}


leading_sub_summary_2 .self {

-fm-table-background-color: rgba(134, 114, 161, 1.0);

border-image-source: url(images/purplelead2.png);
border-image-slice: 4 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 1pt 19pt 0pt 19pt;
box-sizing: border-box;
}

leading_sub_summary_2 text_box .self {
color: #e6e6e6;
}


leading_sub_summary .self {

-fm-table-background-color: rgba(194, 182, 208, 1.0);

border-image-source: url(images/purpleleadadd.png);
border-image-slice: 4 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 1pt 19pt 0pt 19pt;
box-sizing: border-box;
}

leading_sub_summary text_box .self {
color: #372c4b;
}


body .self {

-fm-table-background-color: rgba(223, 223, 225, 1.0);

border-image-source: url(images/purplebody.png);
border-image-slice: 0 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 0pt 19pt 0pt 19pt;
-fm-use-body-current-row-style: true;
box-sizing: border-box;
}


body_alt .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

-fm-table-background-color: rgba(239, 239, 240, 1.0);

border-image-source: url(images/purplebodyalt.png);
border-image-slice: 0 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 0pt 19pt 0pt 19pt;
box-sizing: border-box;
}


trailing_sub_summary .self {

-fm-table-background-color: rgba(223, 223, 225, 1.0);

border-image-source: url(images/purpletrailadd.png);
border-image-slice: 8 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 2pt 19pt 0pt 19pt;
box-sizing: border-box;
}

trailing_sub_summary text_box .self {
color: #372c4b;
}


trailing_sub_summary_2 .self {

-fm-table-background-color: rgba(223, 223, 225, 1.0);

border-image-source: url(images/purpletrail2.png);
border-image-slice: 8 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 2pt 19pt 0pt 19pt;
box-sizing: border-box;
}

trailing_sub_summary_2 text_box .self {
color: #372c4b;
}


trailing_sub_summary_1 .self {

-fm-table-background-color: rgba(223, 223, 225, 1.0);

border-image-source: url(images/purpletrail1.png);
border-image-slice: 8 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 2pt 19pt 0pt 19pt;
box-sizing: border-box;
}

trailing_sub_summary_1 text_box .self {
color: #372c4b;
}


trailing_grand_summary .self {

-fm-table-background-color: rgba(76, 59, 100, 1.0);

border-image-source: url(images/purplegrand.png);
border-image-slice: 0 76 0 76 fill;
border-image-repeat: stretch;
border-image-width: 0pt 19pt 0pt 19pt;
box-sizing: border-box;
}

trailing_grand_summary text_box .self {
color: #e6e6e6;
}


footer .self {

-fm-table-background-color: rgba(223, 223, 225, 1.0);

border-image-source: url(images/purplefooter.png);
border-image-slice: 0 76 76 76 fill;
border-image-repeat: stretch;
border-image-width: 0pt 19pt 19pt 19pt;
box-sizing: border-box;
}

footer text_box .self {
color: #4b3c63;
}


title_footer .self {
background-color: rgba(204, 204, 204, 1.0);
box-sizing: border-box;
}

title_footer text_box .self {
color: #4b3c63;
font-size: 10pt;
}


text_box .self {
font-family: helvetica, sans-serif;
font-style: normal;
color: #666666;
font-size: 12pt;
line-height: 1line;
text-align: left;

}


text_box .text {
box-sizing: border-box;
height: 100%;
}

line .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(112, 48, 132, 1.0);

}


rectangle .self {
background-color: rgba(230, 230, 230, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(112, 48, 132, 1.0);

}


rounded .self {
background-color: rgba(230, 230, 230, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(112, 48, 132, 1.0);
border-radius: 5pt;

}

rounded .inner_border {

border-radius: 4pt;
}

oval .self {
background-color: rgba(230, 230, 230, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(112, 48, 132, 1.0);

}


edit_box:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #703084;
font-size: 12pt;
line-height: 1line;
text-align: left;
}

edit_box:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.26) inset;
}

edit_box:normal .text {
box-sizing: border-box;
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.67em;
margin-right: 0.67em;
margin-top: 0.42em;
margin-bottom: 0.17em;

}

text_area:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #703084;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
text_area:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.26) inset;
}
text_area:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.67em;
margin-right: 0.67em;
margin-top: 0.42em;
margin-bottom: 0.17em;
}
text_area:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

edit_box:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}


text_area:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}

drop_down:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #703084;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
drop_down:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.26) inset;
}
drop_down:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.67em;
margin-right: 0.67em;
margin-top: 0.42em;
margin-bottom: 0.17em;
}
drop_down:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 240, 240, 1.0)), to(rgba(249, 248, 248, 1.0)), color-stop(0.48, rgba(255, 255, 255, 1.0)), color-stop(0.51, rgba(240, 239, 244, 1.0)));
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.45) inset;
-fm-icon: down-arrow;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-top-right-radius: 4pt;
border-bottom-right-radius: 4pt;
border-left-width: 1pt;
border-left-color: rgba(153, 153, 153, 1.0);
border-left-style: solid;
}

drop_down:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}
drop_down:focus .icon {
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.45) inset;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-left-width: 1pt;
border-left-color: rgba(42, 32, 76, 1.0);
border-left-style: solid;
}

drop_down:hover .self {
border-color: rgba(115, 97, 155, 1.0);
}
drop_down:hover .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 240, 240, 1.0)), to(rgba(230, 230, 230, 1.0)), color-stop(0.48, rgba(249, 248, 248, 1.0)), color-stop(0.51, rgba(232, 231, 240, 1.0)));
box-shadow: 0pt 0pt 6pt rgba(69, 16, 113, 0.75) inset;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-left-color: rgba(115, 97, 155, 1.0);
}

drop_down:pressed .self {
border-color: rgba(115, 97, 155, 1.0);
}
drop_down:pressed .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(227, 220, 237, 1.0)), to(rgba(232, 228, 250, 1.0)), color-stop(0.48, rgba(239, 233, 251, 1.0)), color-stop(0.51, rgba(220, 215, 248, 1.0)));
box-shadow: 0pt 0pt 6pt rgba(51, 0, 102, 0.75) inset;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-left-color: rgba(115, 97, 155, 1.0);
}

pop_up:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(240, 240, 240, 1.0)), to(rgba(249, 248, 248, 1.0)), color-stop(0.48, rgba(255, 255, 255, 1.0)), color-stop(0.51, rgba(240, 239, 244, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #703084;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
pop_up:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.45) inset;
}
pop_up:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.67em;
margin-right: 0.67em;
margin-top: 0.42em;
margin-bottom: 0.17em;
}
pop_up:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
-fm-icon: down-arrow;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-top-right-radius: 4pt;
border-bottom-right-radius: 4pt;
}

pop_up:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}
pop_up:focus .icon {
-fm-icon-color: rgba(100, 83, 127, 1.0);
}

pop_up:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(240, 240, 240, 1.0)), to(rgba(230, 230, 230, 1.0)), color-stop(0.48, rgba(249, 248, 248, 1.0)), color-stop(0.51, rgba(232, 231, 240, 1.0)));
border-color: rgba(115, 97, 155, 1.0);
}
pop_up:hover .icon {
-fm-icon-color: rgba(100, 83, 127, 1.0);
}

pop_up:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(227, 220, 237, 1.0)), to(rgba(232, 228, 250, 1.0)), color-stop(0.48, rgba(239, 233, 251, 1.0)), color-stop(0.51, rgba(220, 215, 248, 1.0)));
border-color: rgba(115, 97, 155, 1.0);
}
pop_up:pressed .icon {
-fm-icon-color: rgba(100, 83, 127, 1.0);
}

button:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(247, 245, 253, 1.0)), to(rgba(235, 232, 249, 1.0)), color-stop(0.48, rgba(226, 224, 230, 1.0)), color-stop(0.51, rgba(203, 201, 212, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(115, 97, 155, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #423354;
font-size: 12pt;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 6pt rgba(95, 62, 148, 0.75) inset;
padding-left: 0.67em;
padding-right: 0.67em;
padding-top: 0.42em;
padding-bottom: 0.25em;
}
button:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(66, 51, 84, 1.0);
}

button:focus .self {
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}


button:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(226, 216, 251, 1.0)), to(rgba(156, 148, 193, 1.0)), color-stop(0.48, rgba(218, 207, 242, 1.0)), color-stop(0.51, rgba(201, 193, 237, 1.0)));
border-color: rgba(42, 32, 76, 1.0);
}


button:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(216, 209, 233, 1.0)), to(rgba(109, 102, 145, 1.0)), color-stop(0.48, rgba(163, 152, 187, 1.0)), color-stop(0.51, rgba(139, 132, 176, 1.0)));
border-color: rgba(42, 32, 76, 1.0);
}


calendar:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #703084;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
calendar:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.26) inset;
}
calendar:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.67em;
margin-right: 0.67em;
margin-top: 0.42em;
margin-bottom: 0.17em;
}
calendar:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 240, 240, 1.0)), to(rgba(249, 248, 248, 1.0)), color-stop(0.48, rgba(255, 255, 255, 1.0)), color-stop(0.51, rgba(240, 239, 244, 1.0)));
box-shadow: 0pt 0pt 6pt rgba(51, 51, 51, 0.45) inset;
-fm-icon: calendar;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-top-right-radius: 4pt;
border-bottom-right-radius: 4pt;
border-left-width: 1pt;
border-left-color: rgba(153, 153, 153, 1.0);
border-left-style: solid;
}

calendar:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}
calendar:focus .icon {
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.45) inset;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-left-width: 1pt;
border-left-color: rgba(42, 32, 76, 1.0);
border-left-style: solid;
}

calendar:hover .self {
border-color: rgba(115, 97, 155, 1.0);
}
calendar:hover .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 240, 240, 1.0)), to(rgba(230, 230, 230, 1.0)), color-stop(0.48, rgba(255, 255, 255, 1.0)), color-stop(0.51, rgba(232, 231, 240, 1.0)));
box-shadow: 0pt 0pt 6pt rgba(69, 16, 113, 0.75) inset;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-left-color: rgba(115, 97, 155, 1.0);
}

calendar:pressed .self {
border-color: rgba(115, 97, 155, 1.0);
}
calendar:pressed .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(227, 220, 237, 1.0)), to(rgba(232, 228, 250, 1.0)), color-stop(0.48, rgba(239, 233, 251, 1.0)), color-stop(0.51, rgba(220, 215, 248, 1.0)));
box-shadow: 0pt 0pt 6pt rgba(51, 0, 102, 0.75) inset;
-fm-icon-color: rgba(100, 83, 127, 1.0);
border-left-color: rgba(115, 97, 155, 1.0);
}

checkbox_set:normal .self {
font-family: helvetica, sans-serif;
font-style: normal;
color: #666666;
font-size: 12pt;
line-height: 1.2line;
text-align: left;
}
checkbox_set:normal .icon {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
box-shadow: 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
padding-left: 0.08em;
padding-right: 0.08em;
padding-top: 0.08em;
padding-bottom: 0.08em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
}
checkbox_set:checked .icon {
-fm-icon: modern-check;
-fm-icon-color: #703084;
}
checkbox_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.33em;
}

checkbox_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}

radio_set:normal .self {
font-family: helvetica, sans-serif;
font-style: normal;
color: #666666;
font-size: 12pt;
line-height: 1.2line;
text-align: left;
}
radio_set:normal .icon {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
box-shadow: 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
padding-left: 0.17em;
padding-right: 0.17em;
padding-top: 0.17em;
padding-bottom: 0.17em;

box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
border-radius: 50%;
}
radio_set:checked .icon {
-fm-icon: radio;
-fm-icon-color: #703084;
}
radio_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.33em;
}

radio_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}

tab_control .tab_header {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(226, 226, 226, 1.0)), to(rgba(209, 209, 209, 1.0)), color-stop(0.48, rgba(232, 232, 232, 1.0)), color-stop(0.51, rgba(208, 208, 208, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);

}
tab_control .self {
box-shadow: 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
-fm-tab-spacing: -1;

}

tab_control:active .self {
color: #4f3f6b;

}
tab_panel:active .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(226, 216, 251, 1.0)), to(rgba(156, 148, 193, 1.0)), color-stop(0.48, rgba(218, 207, 242, 1.0)), color-stop(0.51, rgba(201, 193, 237, 1.0)));
border-color: rgba(66, 51, 117, 1.0);
box-shadow: 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
}
tab_panel:active .tab_inner_border {
box-shadow: 0pt 0pt 2pt rgba(69, 16, 113, 1.0) inset;
}

tab_panel:activefocus .tab {
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}
tab_panel:activefocus .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(69, 16, 113, 0.75) inset;
}

tab_control:normal .self {
font-family: helvetica, sans-serif;
font-style: normal;
color: #474747;
font-size: 12pt;
line-height: 1line;
text-align: left;

}
tab_panel:normal .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(226, 226, 226, 1.0)), to(rgba(209, 209, 209, 1.0)), color-stop(0.48, rgba(232, 232, 232, 1.0)), color-stop(0.51, rgba(208, 208, 208, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
box-shadow: 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
}
tab_panel:normal .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(111, 88, 148, 0.75) inset;
padding-left: 0.67em;
padding-right: 0.67em;
padding-top: 0.42em;
padding-bottom: 0.17em;
}
tab_panel:normal .text {
box-sizing: border-box;
height: 100%;
}

tab_panel:hover .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(240, 240, 240, 1.0)), to(rgba(230, 230, 230, 1.0)), color-stop(0.48, rgba(255, 255, 255, 1.0)), color-stop(0.51, rgba(203, 201, 212, 1.0)));
box-shadow: 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
}
tab_panel:hover .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(76, 66, 137, 0.75) inset;
}

tab_panel:focus .tab {
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}
tab_panel:focus .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(76, 66, 137, 0.75) inset;
}

tab_panel:normal .panel {
background-color: rgba(234, 234, 238, 1.0);
border-top-width: 0pt;
border-right-width: 1pt;
border-bottom-width: 1pt;
border-left-width: 1pt;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgba(153, 153, 153, 1.0);
border-right-color: rgba(153, 153, 153, 1.0);
border-bottom-color: rgba(153, 153, 153, 1.0);
border-left-color: rgba(153, 153, 153, 1.0);
box-shadow: 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
}


portal:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
-fm-use-portal-current-row-style: true;
}

portal:normal .inner_border {

border-radius: 4pt;
}
portal:normal .contents {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
}
portal:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

portal:normal .row {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(153, 153, 153, 1.0);
}

portal:normal .row_alt {
background-color: rgba(238, 236, 243, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(153, 153, 153, 1.0);
}


portal:normal .row_active {
background-color: rgba(203, 203, 205, 1.0);
border-top-width: 1pt;
border-bottom-width: 1pt;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(179, 179, 179, 1.0);
border-bottom-color: rgba(179, 179, 179, 1.0);
}


chart:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #666666;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
chart:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.26) inset;
padding-left: 0.67em;
padding-right: 0.67em;
padding-top: 0.67em;
padding-bottom: 0.67em;

}

chart:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}

web_viewer:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #666666;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
web_viewer:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.26) inset;
padding-left: 0.67em;
padding-right: 0.67em;
padding-top: 0.67em;
padding-bottom: 0.67em;

}

web_viewer:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}

container:normal .self {
background-color: rgba(255, 255, 255, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 0pt 1pt rgba(255, 255, 255, 0.40);
font-family: helvetica, sans-serif;
font-style: normal;
color: #666666;
font-size: 12pt;
line-height: 1line;
text-align: left;
}
container:normal .inner_border {

border-radius: 4pt;
box-shadow: 0pt 0pt 4pt rgba(51, 51, 51, 0.26) inset;
padding-left: 0.67em;
padding-right: 0.67em;
padding-top: 0.67em;
padding-bottom: 0.67em;

}

container:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(42, 32, 76, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(230, 114, 20, 1.0);
}

scrollbar:normal .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #999999;
border-top-right-radius: 5pt;
border-bottom-right-radius: 5pt;
background-image: -webkit-gradient(linear, left center, right center, from(rgba(185, 185, 185, 1.0)), to(rgba(230, 230, 230, 1.0)), color-stop(0.40, rgba(230, 230, 230, 1.0)));
width: 17pt;
}

scrollbar:disabled .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #999999;
border-top-right-radius: 5pt;
border-bottom-right-radius: 5pt;
background-color: rgba(255, 255, 255, 1.0);
}

scrollbar:normal .scrollbar_thumb {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #999999;
border-top-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #999999;
border-bottom-style: solid;

background-color: rgba(226, 224, 230, 1.0);
width: 100%;
}

scrollbar:normal .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #999999;
border-bottom-style: solid;
border-top-right-radius: 5pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(247, 245, 253, 1.0)), to(rgba(146, 141, 174, 1.0)), color-stop(0.48, rgba(226, 224, 230, 1.0)), color-stop(0.51, rgba(203, 201, 212, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #64537f;
}

scrollbar:hover .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #999999;
border-bottom-style: solid;
border-top-right-radius: 5pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(226, 216, 251, 1.0)), to(rgba(156, 148, 193, 1.0)), color-stop(0.48, rgba(218, 207, 242, 1.0)), color-stop(0.51, rgba(201, 193, 237, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #64537f;
}

scrollbar:pressed .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #999999;
border-bottom-style: solid;
border-top-right-radius: 5pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(216, 209, 233, 1.0)), to(rgba(109, 102, 145, 1.0)), color-stop(0.48, rgba(163, 152, 187, 1.0)), color-stop(0.51, rgba(139, 132, 176, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #64537f;
}

scrollbar:normal .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #999999;
border-top-style: solid;
border-bottom-right-radius: 5pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(247, 245, 253, 1.0)), to(rgba(146, 141, 174, 1.0)), color-stop(0.48, rgba(226, 224, 230, 1.0)), color-stop(0.51, rgba(203, 201, 212, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #64537f;
}

scrollbar:hover .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #999999;
border-top-style: solid;
border-bottom-right-radius: 5pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(226, 216, 251, 1.0)), to(rgba(156, 148, 193, 1.0)), color-stop(0.48, rgba(218, 207, 242, 1.0)), color-stop(0.51, rgba(201, 193, 237, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #64537f;
}

scrollbar:pressed .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #999999;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #999999;
border-top-style: solid;
border-bottom-right-radius: 5pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(216, 209, 233, 1.0)), to(rgba(109, 102, 145, 1.0)), color-stop(0.48, rgba(163, 152, 187, 1.0)), color-stop(0.51, rgba(139, 132, 176, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #64537f;
}

body:checked .self {

background-image: none;

border-image-source: url(images/purplebodyactive.png);
border-image-slice: 4 76 4 76 fill;
border-image-repeat: stretch;
border-image-width: 1pt 19pt 1pt 19pt;
}


dot_control:normal .self {
background-color: rgba(226, 226, 226, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(153, 153, 153, 1.0);
border-radius: 5pt;
}

dot_control:normal .inner_border {

border-radius: 4pt;
}

dot_control:normal .dot_container {
box-sizing: border-box;
position: absolute;
height: 15pt;
bottom: 0.25em;
left: 0pt;
right: 0pt;
}

dot_control:normal .contents {
box-sizing: border-box;
position: absolute;
top: 0pt;
bottom: 21pt;
left: 0pt;
right: 0pt;
border-top-left-radius: 5pt;
border-top-right-radius: 5pt;
}

dot_control:normal .dot {
background-color: rgba(164, 161, 183, 1.0);
border-radius: 50%;
width: 9pt;
height: 9pt;
margin-left: 0.33em;
}


dot_control:active .dot {
background-color: rgba(100, 83, 127, 1.0);
}


popover:normal .self {
background-color: rgba(100, 83, 127, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(100, 83, 127, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 9pt rgba(0, 0, 0, 0.24);
font-family: helvetica, sans-serif;
font-style: normal;
color: #ffffff;
font-size: 12pt;
line-height: 2line;
text-align: center;
}

popover:normal .text {
box-sizing: border-box;
position: absolute;
top: 0.42em;
height: 1.42em;
left: 8pt;
right: 8pt;
}

popover:normal .contents {
background-color: rgba(222, 222, 225, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(100, 83, 127, 1.0);
border-radius: 5pt;
box-shadow: 0pt 0pt 4pt rgba(0, 0, 0, 0.52) inset;
box-sizing: border-box;
position: absolute;
top: 1.84em;
bottom: 8pt;
left: 8pt;
right: 8pt;
}


calendar.minimal_drop-down_calendar:normal .self {
background-color: rgba(240, 240, 240, 0.0);
background-image: none;

border-color: rgba(115, 96, 153, 0.0);
box-shadow: none;

border-image-source: none;

}
calendar.minimal_drop-down_calendar:normal .inner_border {
box-shadow: none;

}
calendar.minimal_drop-down_calendar:normal .icon {
background-image: none;
background-color: rgba(240, 240, 240, 0.0);
box-shadow: 0pt 0pt rgba(255, 255, 255, 0.0) inset;
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(115, 96, 153, 0.0);
}

calendar.minimal_drop-down_calendar:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

drop_down.minimal_drop-down_list:normal .self {
background-color: rgba(240, 240, 240, 0.0);
background-image: none;

border-color: rgba(115, 96, 153, 0.0);
box-shadow: none;

border-image-source: none;

}
drop_down.minimal_drop-down_list:normal .inner_border {
box-shadow: none;

}
drop_down.minimal_drop-down_list:normal .icon {
background-image: none;
background-color: rgba(240, 240, 240, 0.0);
box-shadow: 0pt 0pt rgba(255, 255, 255, 0.0) inset;
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(115, 96, 153, 0.0);
}

drop_down.minimal_drop-down_list:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

edit_box.minimal_edit_box:normal .self {
background-color: rgba(240, 240, 240, 0.0);
background-image: none;

border-color: rgba(115, 96, 153, 0.0);
box-shadow: none;

border-image-source: none;

}

edit_box.minimal_edit_box:normal .inner_border {
box-shadow: none;

}



edit_box.minimal_edit_box:hover .self {
border-color: rgba(115, 96, 153, 1.0);
}



edit_box.minimal_edit_box:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}



pop_up.minimal_pop-up_menu:normal .self {
background-color: transparent;

background-image: none;

border-color: rgba(115, 96, 153, 0.0);
box-shadow: none;

border-image-source: none;

}
pop_up.minimal_pop-up_menu:normal .inner_border {
box-shadow: none;

}
pop_up.minimal_pop-up_menu:normal .icon {
-fm-icon-color: rgba(255, 255, 255, 0.0);
}

pop_up.minimal_pop-up_menu:focus .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(240, 240, 240, 1.0)), to(rgba(249, 248, 248, 1.0)), color-stop(0.48, rgba(255, 255, 255, 1.0)), color-stop(0.51, rgba(240, 239, 244, 1.0)));
}

container.minimal_container:normal .self {
background-color: rgba(255, 255, 255, 0.0);
background-image: none;

border-color: rgba(115, 96, 153, 0.0);
box-shadow: none;

border-image-source: none;

}
container.minimal_container:normal .inner_border {
box-shadow: none;

}

container.minimal_container:hover .self {
border-color: rgba(115, 96, 153, 1.0);
}

container.minimal_container:focus .self {
background-color: rgba(255, 255, 255, 1.0);
}

text_box.title_header_text .self {
color: #666666;

}


text_box.leading_grand_summary_text .self {
color: #cccccc;

}


text_box.leading_sub_summary_1_text .self {
color: #e6e6e6;

}


text_box.leading_sub_summary_2_text .self {
color: #e6e6e6;

}


text_box.leading_sub_summary_additional_text .self {
color: #372c4b;

}


text_box.trailing_sub_summary_additional_text .self {
color: #372c4b;

}


text_box.trailing_sub_summary_2_text .self {
color: #372c4b;

}


text_box.trailing_sub_summary_1_text .self {
color: #372c4b;

}


text_box.trailing_grand_summary_text .self {
color: #e6e6e6;

}


text_box.footer_text .self {
color: #4b3c63;

}


text_box.title_footer_text .self {
color: #4b3c63;
font-size: 10pt;

}


text_box.header_text .self {
font-weight: bold;
color: #e9e9e9;

}


text_box.navigation_part_text .self {
color: #676767;

}


button_bar:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(205, 205, 205, 1.0);
}

button_bar:normal .button_bar_divider {
border-width: 1pt;
border-style: solid;
border-color: rgba(205, 205, 205, 1.0);
}


button_bar_segment:normal .self {
background-color: rgba(225, 225, 225, 1.0);
color: #676767;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button_bar_segment:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button_bar_segment:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(103, 103, 103, 1.0);
}

button_bar_segment:hover .self {
background-color: rgba(225, 225, 225, 1.0);
color: #8527a5;
}

button_bar_segment:hover .icon {
-fm-icon-color: rgba(133, 39, 165, 1.0);
}

button_bar_segment:pressed .self {
background-color: rgba(225, 225, 225, 1.0);
color: #501a62;
}

button_bar_segment:pressed .icon {
-fm-icon-color: rgba(80, 26, 98, 1.0);
}

button_bar_segment:active .self {
background-color: rgba(225, 225, 225, 1.0);
color: #8527a5;
}

button_bar_segment:active .icon {
-fm-icon-color: rgba(133, 39, 165, 1.0);
}

button_bar_segment:focus .inner_border {
box-shadow: 0pt 0pt 6pt rgba(230, 114, 20, 1.0) inset;
}

container:placeholder .self {
color: #d1b6da;
}

calendar:placeholder .self {
color: #d1b6da;
}

drop_down:placeholder .self {
color: #d1b6da;
}

pop_up:placeholder .self {
color: #d1b6da;
}

edit_box:placeholder .self {
color: #d1b6da;
}


text_area:placeholder .self {
color: #d1b6da;
}

bottom_nav_part .self {
background-color: rgba(225, 225, 225, 1.0);
box-sizing: border-box;
}


top_nav_part .self {
background-color: rgba(225, 225, 225, 1.0);
box-sizing: border-box;
}

