field .baseline {
border-bottom-width: 1pt;
}

field:droptarget .inner_border {
 box-shadow: 0pt 0pt 6pt rgba(51, 204, 255, 1.0) inset;
}

title_header .self {
background-color: rgba(51, 51, 51, 1.0);
box-sizing: border-box;
}


header .self {
background-color: rgba(71, 71, 71, 1.0);
box-sizing: border-box;
}


leading_grand_summary .self {
background-color: rgba(190, 190, 190, 1.0);
border-top-width: 1pt;
border-top-style: solid;
border-top-color: rgba(51, 51, 51, 1.0);

box-sizing: border-box;
}

leading_grand_summary text_box .self {
color: #333333;
}


leading_sub_summary_1 .self {
background-color: rgba(160, 160, 160, 1.0);
border-top-width: 1pt;
border-top-style: solid;
border-top-color: rgba(51, 51, 51, 1.0);

box-sizing: border-box;
}

leading_sub_summary_1 text_box .self {
color: #333333;
}


leading_sub_summary_2 .self {
background-color: rgba(130, 130, 130, 1.0);
border-top-width: 1pt;
border-top-style: solid;
border-top-color: rgba(51, 51, 51, 1.0);

box-sizing: border-box;
}


leading_sub_summary .self {
background-color: rgba(102, 102, 102, 1.0);
border-top-width: 1pt;
border-top-style: solid;
border-top-color: rgba(51, 51, 51, 1.0);

box-sizing: border-box;
}


body .self {
background-color: rgba(51, 51, 51, 1.0);
-fm-use-body-current-row-style: true;
box-sizing: border-box;
}


body_alt .self {
background-color: rgba(41, 41, 41, 1.0);
background-image: none;

border-image-source: none;
box-sizing: border-box;
}


trailing_sub_summary .self {
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(102, 102, 102, 1.0);

box-sizing: border-box;
}


trailing_sub_summary_2 .self {
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(130, 130, 130, 1.0);

box-sizing: border-box;
}


trailing_sub_summary_1 .self {
border-top-width: 2pt;
border-top-style: solid;
border-top-color: rgba(160, 160, 160, 1.0);

box-sizing: border-box;
}


trailing_grand_summary .self {
background-color: rgba(190, 190, 190, 1.0);
box-sizing: border-box;
}

trailing_grand_summary text_box .self {
color: #333333;
}


footer .self {
background-color: rgba(51, 51, 51, 1.0);
box-sizing: border-box;
}


title_footer .self {
background-color: rgba(51, 51, 51, 1.0);
box-sizing: border-box;
}

title_footer text_box .self {
font-size: 9pt;
}


layout_background .self {
background-color: rgba(51, 51, 51, 1.0);
}


text_box .self {
font-family: arial, sans-serif;
font-style: normal;
color: #cccccc;
font-size: 11pt;
line-height: 1line;
text-align: left;

}


text_box .text {
box-sizing: border-box;
height: 100%;
}

line .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(96, 96, 96, 1.0);

}


rectangle .self {
background-color: rgba(69, 69, 69, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(96, 96, 96, 1.0);

}


rounded .self {
background-color: rgba(69, 69, 69, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(96, 96, 96, 1.0);
border-radius: 5pt;

}

rounded .inner_border {

border-radius: 4pt;
}

oval .self {
background-color: rgba(69, 69, 69, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(96, 96, 96, 1.0);

}


edit_box:normal .self {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #cccccc;
font-size: 11pt;
line-height: 1line;
text-align: left;
}

edit_box:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
}

edit_box:normal .text {
box-sizing: border-box;
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.55em;
margin-right: 0.55em;
margin-top: 0.27em;
margin-bottom: 0.09em;

}

text_area:normal .self {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #cccccc;
font-size: 11pt;
line-height: 1line;
text-align: left;
}
text_area:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
}
text_area:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.55em;
margin-right: 0.55em;
margin-top: 0.27em;
margin-bottom: 0.09em;
}
text_area:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

edit_box:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}


text_area:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}

drop_down:normal .self {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #cccccc;
font-size: 11pt;
line-height: 1line;
text-align: left;
}
drop_down:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
}
drop_down:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.55em;
margin-right: 0.55em;
margin-top: 0.27em;
margin-bottom: 0.09em;
}
drop_down:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
-fm-icon: down-arrow;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-top-right-radius: 0pt;
border-bottom-right-radius: 0pt;
border-left-width: 1pt;
border-left-color: rgba(102, 102, 102, 1.0);
border-left-style: solid;
}

drop_down:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}
drop_down:focus .icon {
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-left-width: 1pt;
border-left-color: rgba(204, 204, 204, 1.0);
border-left-style: solid;
}

drop_down:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}
drop_down:hover .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(113, 113, 113, 1.0)), to(rgba(75, 75, 75, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-left-color: rgba(204, 204, 204, 1.0);
}

drop_down:pressed .self {
border-color: rgba(204, 204, 204, 1.0);
}
drop_down:pressed .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(139, 139, 139, 1.0)), to(rgba(102, 102, 102, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-left-color: rgba(204, 204, 204, 1.0);
}

pop_up:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #cccccc;
font-size: 11pt;
line-height: 1line;
text-align: left;
}
pop_up:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
}
pop_up:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.55em;
margin-right: 0.55em;
margin-top: 0.27em;
margin-bottom: 0.09em;
}
pop_up:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
-fm-icon: down-arrow;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-top-right-radius: 0pt;
border-bottom-right-radius: 0pt;
}

pop_up:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}
pop_up:focus .icon {
-fm-icon-color: rgba(204, 204, 204, 1.0);
}

pop_up:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(113, 113, 113, 1.0)), to(rgba(75, 75, 75, 1.0)));
border-color: rgba(204, 204, 204, 1.0);
}
pop_up:hover .icon {
-fm-icon-color: rgba(204, 204, 204, 1.0);
}

pop_up:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(139, 139, 139, 1.0)), to(rgba(102, 102, 102, 1.0)));
border-color: rgba(204, 204, 204, 1.0);
color: #676767;
}
pop_up:pressed .icon {
-fm-icon-color: rgba(204, 204, 204, 1.0);
}

button:normal .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #cccccc;
font-size: 11pt;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
padding-left: 0.55em;
padding-right: 0.55em;
padding-top: 0.27em;
padding-bottom: 0.27em;
}
button:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(204, 204, 204, 1.0);
}

button:focus .self {
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}


button:hover .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(113, 113, 113, 1.0)), to(rgba(75, 75, 75, 1.0)));
border-color: rgba(204, 204, 204, 1.0);
}


button:pressed .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(139, 139, 139, 1.0)), to(rgba(102, 102, 102, 1.0)));
border-color: rgba(204, 204, 204, 1.0);
}


calendar:normal .self {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #cccccc;
font-size: 11pt;
line-height: 1line;
text-align: left;
}
calendar:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
}
calendar:normal .text {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
margin-left: 0.55em;
margin-right: 0.55em;
margin-top: 0.27em;
margin-bottom: 0.09em;
}
calendar:normal .icon {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
-fm-icon: calendar;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-top-right-radius: 0pt;
border-bottom-right-radius: 0pt;
border-left-width: 1pt;
border-left-color: rgba(102, 102, 102, 1.0);
border-left-style: solid;
}

calendar:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}
calendar:focus .icon {
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-left-width: 1pt;
border-left-color: rgba(204, 204, 204, 1.0);
border-left-style: solid;
}

calendar:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}
calendar:hover .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(113, 113, 113, 1.0)), to(rgba(75, 75, 75, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-left-color: rgba(204, 204, 204, 1.0);
}

calendar:pressed .self {
border-color: rgba(204, 204, 204, 1.0);
}
calendar:pressed .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(139, 139, 139, 1.0)), to(rgba(102, 102, 102, 1.0)));
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
-fm-icon-color: rgba(204, 204, 204, 1.0);
border-left-color: rgba(204, 204, 204, 1.0);
}

checkbox_set:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #999999;
font-size: 11pt;
line-height: 1.2line;
text-align: left;
}
checkbox_set:normal .icon {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
padding-left: 0.09em;
padding-right: 0.09em;
padding-top: 0.09em;
padding-bottom: 0.09em;

box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
}
checkbox_set:checked .icon {
-fm-icon: modern-check;
-fm-icon-color: #cccccc;
}
checkbox_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.27em;
}

checkbox_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}

radio_set:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #999999;
font-size: 11pt;
line-height: 1.2line;
text-align: left;
}
radio_set:normal .icon {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
padding-left: 0.18em;
padding-right: 0.18em;
padding-top: 0.18em;
padding-bottom: 0.18em;

box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
box-sizing: border-box;
position: absolute;
top: 0.1em;
bottom: 0pt;
left: 0pt;
width: 1em;
height: 1em;
border-radius: 50%;
}
radio_set:checked .icon {
-fm-icon: radio;
-fm-icon-color: #cccccc;
}
radio_set:normal .text {
box-sizing: border-box;
position: absolute;
left: 1em;
top: 0pt;
bottom: 0pt;
right: 0pt;
margin-left: 0.27em;
}

radio_set:focus .icon {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}

tab_control .tab_header {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);

}
tab_control .self {
-fm-tab-spacing: -1;

}

tab_control:active .self {
font-family: arial, sans-serif;
font-weight: bold;
color: #cccccc;

}
tab_panel:active .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(113, 113, 113, 1.0)), to(rgba(75, 75, 75, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
}
tab_panel:active .tab_inner_border {
box-shadow: none;

}

tab_panel:activefocus .tab {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}

tab_control:normal .self {
font-family: arial, sans-serif;
font-style: normal;
color: #999999;
font-size: 11pt;
line-height: 1line;
text-align: left;

}
tab_panel:normal .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
}
tab_panel:normal .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
padding-left: 0.55em;
padding-right: 0.55em;
padding-top: 0.18em;
padding-bottom: 0.18em;
}
tab_panel:normal .text {
box-sizing: border-box;
height: 100%;
}

tab_panel:hover .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(113, 113, 113, 1.0)), to(rgba(75, 75, 75, 1.0)));
}
tab_panel:hover .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
}

tab_panel:focus .tab {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}
tab_panel:focus .tab_inner_border {
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
}

tab_panel:normal .panel {
background-color: rgba(83, 83, 83, 1.0);
border-right-width: 1pt;
border-bottom-width: 1pt;
border-left-width: 1pt;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-right-color: rgba(102, 102, 102, 1.0);
border-bottom-color: rgba(102, 102, 102, 1.0);
border-left-color: rgba(102, 102, 102, 1.0);
}


portal:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
-fm-use-portal-current-row-style: true;
}

portal:normal .inner_border {

border-radius: 0pt;
}
portal:normal .contents {
position: absolute;
left: 0pt;
top: 0pt;
bottom: 0pt;
right: 17pt;
box-sizing: border-box;
}
portal:normal .scrollbar_track {
position: absolute;
top: 0pt;
bottom: 0pt;
right: 0pt;
width: 17pt;
box-sizing: border-box;
}

portal:normal .row {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(102, 102, 102, 1.0);
}

portal:normal .row_alt {
background-color: rgba(66, 66, 66, 1.0);
border-width: 1pt;
border-style: none;
border-color: rgba(102, 102, 102, 1.0);
}


portal:normal .row_active {
background-color: rgba(33, 33, 33, 1.0);
border-top-width: 1pt;
border-bottom-width: 1pt;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(0, 0, 0, 1.0);
border-bottom-color: rgba(0, 0, 0, 1.0);
}


chart:normal .self {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #999999;
font-size: 11pt;
line-height: 1line;
text-align: left;
}
chart:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
padding-left: 0.55em;
padding-right: 0.55em;
padding-top: 0.55em;
padding-bottom: 0.55em;

}

chart:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}

web_viewer:normal .self {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #999999;
font-size: 11pt;
line-height: 1line;
text-align: left;
}
web_viewer:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
padding-left: 0.55em;
padding-right: 0.55em;
padding-top: 0.55em;
padding-bottom: 0.55em;

}

web_viewer:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}

container:normal .self {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
font-family: arial, sans-serif;
font-style: normal;
color: #999999;
font-size: 11pt;
line-height: 1line;
text-align: left;
}
container:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
padding-left: 0.55em;
padding-right: 0.55em;
padding-top: 0.55em;
padding-bottom: 0.55em;

}

container:focus .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(204, 204, 204, 1.0);
box-shadow: 0pt 0pt 2pt 1pt rgba(51, 204, 255, 1.0);
}

scrollbar:normal .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #666666;
border-top-right-radius: 1pt;
border-bottom-right-radius: 1pt;
background-color: rgba(51, 51, 51, 1.0);
width: 17pt;
}

scrollbar:disabled .self {
border-left-width: 1pt;
border-left-style: solid;
border-left-color: #666666;
border-top-right-radius: 1pt;
border-bottom-right-radius: 1pt;
background-color: rgba(51, 51, 51, 1.0);
}

scrollbar:normal .scrollbar_thumb {
border-left-width: 1pt;
border-left-color: #666666;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #666666;
border-top-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #666666;
border-bottom-style: solid;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
width: 100%;
}

scrollbar:normal .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #666666;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #666666;
border-bottom-style: solid;
border-top-right-radius: 1pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #cccccc;
}

scrollbar:hover .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #666666;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #666666;
border-bottom-style: solid;
border-top-right-radius: 1pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(113, 113, 113, 1.0)), to(rgba(75, 75, 75, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #cccccc;
}

scrollbar:pressed .scrollbar_top_button {
border-left-width: 1pt;
border-left-color: #666666;
border-left-style: solid;
border-bottom-width: 1pt;
border-bottom-color: #666666;
border-bottom-style: solid;
border-top-right-radius: 1pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(139, 139, 139, 1.0)), to(rgba(102, 102, 102, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: up-arrow;
-fm-icon-color: #cccccc;
}

scrollbar:normal .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #666666;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #666666;
border-top-style: solid;
border-bottom-right-radius: 1pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #cccccc;
}

scrollbar:hover .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #666666;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #666666;
border-top-style: solid;
border-bottom-right-radius: 1pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(113, 113, 113, 1.0)), to(rgba(75, 75, 75, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #cccccc;
}

scrollbar:pressed .scrollbar_bottom_button {
border-left-width: 1pt;
border-left-color: #666666;
border-left-style: solid;
border-top-width: 1pt;
border-top-color: #666666;
border-top-style: solid;
border-bottom-right-radius: 1pt;

background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(139, 139, 139, 1.0)), to(rgba(102, 102, 102, 1.0)));
width: 100%;
height: 17pt;
-fm-icon: down-arrow;
-fm-icon-color: #cccccc;
}

dot_control:normal .self {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
}

dot_control:normal .inner_border {

border-radius: 0pt;
box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, 0.75) inset;
}

dot_control:normal .dot_container {
box-sizing: border-box;
position: absolute;
height: 14pt;
bottom: 0.09em;
left: 0pt;
right: 0pt;
}

dot_control:normal .contents {
box-sizing: border-box;
position: absolute;
top: 0pt;
bottom: 16pt;
left: 0pt;
right: 0pt;
border-top-left-radius: 1pt;
border-top-right-radius: 1pt;
}

dot_control:normal .dot {
background-color: rgba(102, 102, 102, 1.0);
border-radius: 50%;
width: 8pt;
height: 8pt;
margin-left: 0.33em;
}


dot_control:active .dot {
background-color: rgba(204, 204, 204, 1.0);
}


body:checked .self {
background-color: rgba(33, 33, 33, 1.0);
background-image: none;

border-width: 1pt;
border-style: solid;
border-color: rgba(0, 0, 0, 1.0);

border-image-source: none;
}


popover:normal .self {
background-color: rgba(83, 83, 83, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
box-shadow: 0pt 0pt 9pt rgba(0, 0, 0, 0.24);
font-family: arial, sans-serif;
font-style: normal;
color: #cccccc;
font-size: 11pt;
line-height: 2line;
text-align: center;
}

popover:normal .text {
box-sizing: border-box;
position: absolute;
top: 0.27em;
height: 1.27em;
left: 6pt;
right: 6pt;
}

popover:normal .contents {
background-color: rgba(51, 51, 51, 1.0);
border-width: 1pt;
border-style: solid;
border-color: rgba(102, 102, 102, 1.0);
border-radius: 1pt;
box-shadow: 0pt 0pt 4pt rgba(0, 0, 0, 0.52) inset;
box-sizing: border-box;
position: absolute;
top: 1.54em;
bottom: 6pt;
left: 6pt;
right: 6pt;
}


calendar.minimal_drop-down_calendar:normal .self {
background-color: rgba(51, 51, 51, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}
calendar.minimal_drop-down_calendar:normal .inner_border {
box-shadow: none;

}
calendar.minimal_drop-down_calendar:normal .icon {
background-image: none;
background-color: rgba(51, 51, 51, 0.0);
box-shadow: 0pt 0pt rgba(255, 255, 255, 0.0) inset;
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(204, 204, 204, 0.0);
}

calendar.minimal_drop-down_calendar:focus .self {
background-color: rgba(51, 51, 51, 1.0);
}
calendar.minimal_drop-down_calendar:focus .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
}

drop_down.minimal_drop-down_list:normal .self {
background-color: rgba(51, 51, 51, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}
drop_down.minimal_drop-down_list:normal .inner_border {
box-shadow: none;

}
drop_down.minimal_drop-down_list:normal .icon {
background-image: none;
background-color: rgba(51, 51, 51, 0.0);
box-shadow: 0pt 0pt rgba(255, 255, 255, 0.0) inset;
-fm-icon-color: rgba(255, 255, 255, 0.0);
border-left-color: rgba(204, 204, 204, 0.0);
}

drop_down.minimal_drop-down_list:focus .self {
background-color: rgba(51, 51, 51, 1.0);
}
drop_down.minimal_drop-down_list:focus .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
}

edit_box.minimal_edit_box:normal .self {
background-color: rgba(51, 51, 51, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}

edit_box.minimal_edit_box:normal .inner_border {
box-shadow: none;

}



edit_box.minimal_edit_box:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}



edit_box.minimal_edit_box:focus .self {
background-color: rgba(51, 51, 51, 1.0);
}



pop_up.minimal_pop-up_menu:normal .self {
background-color: transparent;

background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}
pop_up.minimal_pop-up_menu:normal .inner_border {
box-shadow: none;

}
pop_up.minimal_pop-up_menu:normal .icon {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.0)));
box-shadow: 0pt 0pt rgba(255, 255, 255, 0.0) inset;
-fm-icon-color: rgba(255, 255, 255, 0.0);
}

pop_up.minimal_pop-up_menu:focus .self {
background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(rgba(76, 75, 75, 1.0)), to(rgba(51, 51, 51, 1.0)));
}

container.minimal_container:normal .self {
background-color: rgba(51, 51, 51, 0.0);
background-image: none;

border-color: rgba(204, 204, 204, 0.0);
border-image-source: none;

}
container.minimal_container:normal .inner_border {
box-shadow: none;

}

container.minimal_container:hover .self {
border-color: rgba(204, 204, 204, 1.0);
}

container.minimal_container:focus .self {
background-color: rgba(51, 51, 51, 1.0);
}

text_box.title_header_text .self {
color: #cccccc;

}


text_box.leading_grand_summary_text .self {
color: #333333;

}


text_box.leading_sub_summary_1_text .self {
color: #333333;

}


text_box.leading_sub_summary_additional_text .self {
color: #cccccc;

}


text_box.trailing_grand_summary_text .self {
color: #333333;

}


text_box.footer_text .self {
color: #cccccc;

}


text_box.title_footer_text .self {
font-size: 9pt;

}


text_box.header_text .self {
color: #cccccc;

}


text_box.navigation_part_text .self {
color: #b3b3b3;

}


button_bar:normal .self {
border-width: 1pt;
border-style: solid;
border-color: rgba(77, 77, 77, 1.0);
}

button_bar:normal .button_bar_divider {
border-width: 1pt;
border-style: solid;
border-color: rgba(77, 77, 77, 1.0);
}


button_bar_segment:normal .self {
background-color: rgba(41, 41, 41, 1.0);
color: #b3b3b3;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button_bar_segment:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button_bar_segment:normal .icon {
-fm-icon-padding: 0.33em;
-fm-icon-color: rgba(179, 179, 179, 1.0);
}

button_bar_segment:hover .self {
background-color: rgba(48, 48, 48, 1.0);
color: #e6e6e6;
}

button_bar_segment:hover .icon {
-fm-icon-color: rgba(230, 230, 230, 1.0);
}

button_bar_segment:pressed .self {
background-color: rgba(38, 38, 38, 1.0);
color: #9a9a9a;
}

button_bar_segment:pressed .icon {
-fm-icon-color: rgba(154, 154, 154, 1.0);
}

button_bar_segment:active .self {
background-color: rgba(41, 41, 41, 1.0);
color: #e6e6e6;
}

button_bar_segment:active .icon {
-fm-icon-color: rgba(230, 230, 230, 1.0);
}

button_bar_segment:focus .inner_border {
box-shadow: 0pt 0pt 6pt rgba(51, 204, 255, 1.0) inset;
}

container:placeholder .self {
color: #676767;
}

calendar:placeholder .self {
color: #676767;
}

drop_down:placeholder .self {
color: #676767;
}

pop_up:placeholder .self {
color: #676767;
}

edit_box:placeholder .self {
color: #676767;
}


text_area:placeholder .self {
color: #676767;
}

bottom_nav_part .self {
background-color: rgba(41, 41, 41, 1.0);
box-sizing: border-box;
}


top_nav_part .self {
background-color: rgba(41, 41, 41, 1.0);
box-sizing: border-box;
}


text_box.trailing_sub_summary_additional_text .self {
color: #cccccc;

}


text_box.trailing_sub_summary_2_text .self {
color: #cccccc;

}


text_box.trailing_sub_summary_1_text .self {
color: #cccccc;

}


text_box.leading_sub_summary_2_text .self {
color: #cccccc;

}

